<div id="side-main-menu-container">
 
             <div id="submenu1" class="submenu">
                  <ul class="submenu-header">  

                  {%  if not board.isprofil %}

                     <h4><b>{{board.title}}</b></h4>
                     <p> {{board.description}}</p> 

                   {% else %}

                     <h4><b>Life according to {{profil.fullname}}</b></h4>
                
                   {% endif %}
                  </ul>
             
                  <div class="submenu-item" id="comment-button">
                    <span  class="submenu-icons-black comment-icon"></span><span class="submenu-label" >
                      Write
                  </span>
                  </div>



        {%  if roleflag=="Owner"  %}

                  <div class="submenu-item" id="drawing-button" onClick="$('#drawing-main-container').fadeIn()">
                    <span  class="smile-icon doodles"s style="background-size: 390%;"></span><span class="submenu-label"  >
                      Draw
                  </span>
                  </div>

                  <div id="doodle-button" class="submenu-item md-trigger"  data-modal="doodlemodal" >
                    <span  class="smile-icon doodles"s style="background-size: 390%;"></span><span class="submenu-label"  >
                      Doodles 
                  </span>
                  </div>


        {%  endif %}


        {%  if roleflag=="Owner" or roleflag=="friend" %}
                  <div  id="photos-button" class="submenu-item md-trigger" data-modal="albummodal" >
                    <span class="submenu-icons-black photo-icon"></span><span  class="submenu-label"  >Board Photos</span>
                  </div>
        {% endif %}
             </div>

        {%  if roleflag=="Owner" %}
             <div id="submenu2" class="submenu">
                  <ul class="submenu-header">  
                   <h4><b>Settings</b></h4>
                   <p> Copyright © 2013 ruspeena Inc. and respective owners. All</p> 
                  </ul>
             
             {% if not board.iscommunity %}
                  <div class="submenu-item">

                    <div class="dropdown" style="position:relative;margin-left:-4px;" >
                        {%  if board.viewprivacy=="public"  %} 
                                            <a data-toggle="dropdown" id="viewprivacytoggle" >Everyone<span class="submenu-icons-black everyone-icon"></span></a>
                        {% endif %}
                        {%  if board.viewprivacy=="friends" %}
                                           <a data-toggle="dropdown" id="viewprivacytoggle" >Friends<span class="submenu-icons-black friends-icon"></span></a>
                        {% endif %}
                        {%  if board.viewprivacy=="owner"%}
                                           <a data-toggle="dropdown" id="viewprivacytoggle" >Only me<span class="submenu-icons-black onlyme-icon"></span></a>
                        {%  endif %}


                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        
                             
                        <li role=presentation>
                          <a role=menuitem tabindex='-1'  onClick="changeViewPrivacy('public')" >
                            Everyone
                          </a>
                        </li>

                       <li role=presentation>
                          <a role=menuitem tabindex='-1' onClick="changeViewPrivacy('friends')">
                            Friends
                          </a>
                        </li>
    

                       <li role=presentation>
                          <a role=menuitem tabindex='-1' onClick="changeViewPrivacy('owner')" >
                           Only Me
                          </a>
                        </li>


                      </ul>
                    
                    </div>


                    <span class="submenu-label">Can see this </span>
                  </div>
                  <div class="submenu-item md-trigger"  data-modal="songmodal" id="song-button"  >
                    <span  class="submenu-icons-black song-icon"></span><span class="submenu-label"  >
                    Soundtrack
                  </span>
                  </div>
                {%  endif %}


                  <div class="submenu-item md-trigger"  data-modal="backgroundmodal">
                    <span class="submenu-icons-black background-icon"></span><span class="submenu-label">Background</span>
                  </div>


                
                {%  if not board.isprofil %}

                  <div id="preview-trigger" class="submenu-item md-trigger"  data-modal="infomodal">
                    <span class="submenu-icons-black info-icon"></span><span class="submenu-label">Edit Infos</span>
                  </div>
                {%  else %}
                    <div id="preview-trigger" class="submenu-item md-trigger"  data-modal="profilpicmodal" onClick="getEditId()">
                    <span class="submenu-icons-black info-icon"></span><span class="submenu-label">Change profilpicture</span>
                  </div>
                {% endif %}

             </div>
             {% endif %}



             <div id="submenu3" class="submenu">
                  <ul class="submenu-header" >  
             
              {%  if board.profil.photourl %} 
                          <img src="{{board.profil.profilPicture}}"  style="position: absolute;left: 8px;box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.5);top: 30px;width: 65px;"/>
                 

              {%  elseif board.profil.Photoconnect %}
                           <img src="{{board.profil.Photoconnect}}}"  style="position: absolute;left: 8px;box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.5);top: 30px;width: 65px;"/>

              {% elseif board.profil.Photoconnect==null and board.profil.Photourl==null  %}

                           <img src="{{asset('pictures/icons/thumbuser.png')}}"  style="position: absolute;left: 8px;box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.5);top: 30px;width: 65px;"/>


              {%  endif %}
                   <h5 style="margin-left: 56px;font-weight: bolder;margin-top: 3px;"><a href="{{ path('pingsteprofil',{id:board.profil.Id})}}" >{{board.profil.Fullname}}</a></h5>
                   <p style="margin-left: 58px;margin-top: -11px;">{{board.profil.about}}</p> 
                  </ul>
              {% if roleflag=="notafriend" and roleflag !="Owner"  %}
                  <div class="submenu-item md-trigger"  data-modal="friendrequestmodal" >
                    <span class="submenu-icons-black everyone-icon"></span><span class="submenu-label">Become a Friend</span>
                  </div>
              

                  <div class="submenu-item send-message md-trigger"  data-modal="messagmodal" >
                    <span class="submenu-icons-black message-icon"></span><span class="submenu-label">Send a Message </span>
                  </div>


             {% endif %}

              {% if roleflag=="friendseeker" and roleflag !="Owner" %}
                 <div class="submenu-item send-frequest" >
                    <span class="submenu-icons-black everyone-icon"></span><span class="submenu-label">Friend request Sent </span>
                  </div>
              

                  <div  class="submenu-item send-message" data-toggle='modal' data-target='#new-board'>
                             <span class="submenu-icons-black message-icon"></span><span class="submenu-label">Send {{board.profil.fullname}} a Message </span>
                  </div>


                  <div class="submenu-item">
                    <span class="submenu-icons-black background-icon"></span><span class="submenu-label">Report</span>
                  </div>
              {% endif %}

              {% if roleflag=="friend"  and roleflag !="Owner"  %}
                 <div class="submenu-item" style="background-color: rgb(227, 255, 202);">
                    <span class="submenu-icons-black everyone-icon"></span><span class="submenu-label">Friend</span>
                  </div>
              

                  <div class="submenu-item send-message" data-toggle='modal' data-target='#messagmodal'>
                    <span class="submenu-icons-black message-icon"></span><span class="submenu-label">Send {{board.profil.fullname}} a Message </span>
                  </div>


                  <div class="submenu-item">
                    <span class="submenu-icons-black background-icon"></span><span class="submenu-label">Report</span>
                  </div>
              {% endif %}
          
             </div>



              <div id="submenu4" class="submenu" style="overflow-y: scroll;">
                  <ul class="submenu-header">  
                   <h4><b>Share</b></h4>
                   <p> Copyright © 2013 ruspeena Inc. and respective owners. All</p> 
                  </ul>
             


             </div>
        {%  if roleflag=="Owner" %}
             <div id="submenu4" class="submenu" style="overflow-y:scroll;">
                  <ul class="submenu-header">  
                   <h4><b>My Boards</b></h4>
                   <p> new board </p> 
                  </ul>

            
                  <div class="submenu-item" data-toggle='modal' data-target='#loadingmodal' href="{{path('show_my_boards_modal',{profilId:app.user.username})}}"  >
                    <span class="submenu-icons-black board-icon"></span><span class="submenu-label">my boards</span>
                  </div>
                 
                  
             
                    <div class="submenu-item md-trigger"  data-modal="new-board" >
                      <span class="submenu-icons-black plus-icon"></span> <span class="submenu-label" >new board</span>
                    </div>
               

          
                </div>

      {%  else %}
           <div id="submenu4" class="submenu" style="overflow-y:scroll;">
                  <ul class="submenu-header md-trigger"  data-modal="new-board">  
                   <h4><b>{{board.profil.Fullname}} Boards</b></h4>
                   <p> new board </p> 
                  </ul>

            
                  <div class="submenu-item md-trigger"  data-modal="new-board">
                    <span class="submenu-icons-black board-icon"></span><span class="submenu-label">{{board.profil.Fullname}}' boards</span>
                  </div>
                 
                  
                 
                    <div class="submenu-item md-trigger"  data-modal="new-board"> 
                      <span class="submenu-icons-black plus-icon"></span> <span class="submenu-label" > create a board</span>
                    </div>
                 
          
                </div>
      {%  endif %}


        <div class="side-main-menu">
            <ul class="logo-side" > 
             

            <span id="ghosmoslogo">
              <img src="{{asset('pictures/icons/fish.png')}}" id="img-logo" >
              <span id="text-logo"> Soul<span style="font-weight:bold;background-color:#3B5E92;">lified</span></span>
               <hr style="display: block;margin-top: -24px;width: 90px;margin-left: 46px;">
            </span>


            </ul>


            <ul class="menu-primary-options" submenuId="1">
              <span id="menuicon1" class="sosNeticonWhite boardicon"></span><span class="label-icon">Scribbling</span>
            </ul>
{%  if board.iscommunity %}
            <ul  class="menu-primary-options" submenuId="3" >
                  <div id="menuicon3" class="sosNeticonWhite record-vid-icon"></div><span class="label-icon">Film a vid</span>
            </ul>
{%  endif %}
{%  if roleflag=="Owner" %}
            <ul  class="menu-primary-options" submenuId="2" >
              <div id="menuicon2" class="sosNeticonWhite settingicon"></div><span class="label-icon">setting</span>
            </ul>
  {%  endif %}

{%  if roleflag!="Owner" and not board.iscommunity %}
            <ul  class="menu-primary-options" submenuId="3" >
              <div id="menuicon3" class="sosNeticonWhite ownericon"></div><span class="label-icon">{{board.profil.fullname}}</span>
            </ul>
{% endif %}


   {%  if roleflag=="Owner" %}

            <ul  class="menu-primary-options" submenuId="5" >
              <div id="menuicon5" class="sosNeticonWhite plus-icon"></div><span class="label-icon">new board</span>
            </ul>

  {% else %}
     
            <ul  class="menu-primary-options" submenuId="5" >
              <div id="menuicon5" class="sosNeticonWhite board-icon"></div><span class="label-icon">boards</span>
            </ul>

  {%  endif %}

            <ul  class="menu-primary-options" submenuId="4" >
              <div id="menuicon4" class="sosNeticonWhite share-icon"></div><span class="label-icon">Share</span>
            </ul>


        <ul id="likesunlikes" >

            <h6> 
              <img id="likeimg" class="like-buttons" 
            {%  if liked %}
              onClick="unlikeboard()" src="{{asset('pictures/icons/like.png')}}">
              {% else %}
              onClick="likeboard()" style="opacity:0.7" src="{{asset('pictures/icons/like.png')}}"> 
            {%  endif %}      

               {% if board.likers|length == 0 %}     

                    <span id="nbrOfLikes" style="display:none;">0</span>

                {%  else %}
                    <span id="nbrOfLikes">{{board.likers|length}}</span>

                {%  endif %}

              
              <img id="comment-button-small" src="{{asset('pictures/icons/small-comment.png')}}"  class="like-buttons" style="opacity:0.7;cursor:pointer;">   

              {% if board.comments|length == 0 %}     
              <span id="nbrOfComments" style="display:none;">0</span>
              
              {% else %}

               <span id="nbrOfComments">{{board.comments|length}}</span>
              
              {%  endif %}

            </h6>
        </ul>

            <ul>
              <div id="compress-menu" onClick="compressMenu()" class="sosNeticonWhite compressicon"> </div>
            </ul>
        </div>
    </div>
