<div id="main-menu-dropdown" class="popover bottom in" style="position:fixed;top: 55px;right: 5px;left: inherit; display: none;margin-left: -115px;" >

  <div class="arrow" style="right: 5px;left:inherit;">
  </div>

    <h3 class="popover-title" style="font-size: 14px;">



<img class="comment-thumbnail" id="changeProfilPicTrigger" onClick="fakePreviewTriger()" src=
      {{app.user.profil.profilPicture}}
      />
      <div  style="padding:7px;"><b>Hi<a> {{app.user.profil.fullname}} !! </a> <br>this is your stuff </b>

        <hr class="menu-hr" >
         <img src="{{asset('pictures/icons/tinyUserBlack.png')}}" style='height: 16px;'>
         <a href="{{ path('pingsteprofil')}}#/scrapbook/{{app.user.username}}" >Scrapbook</a> 
        <hr class="menu-hr">

          <img src="{{asset('pictures/icons/tag_music.jpg')}}" style='height: 20px;margin-left: -3px;margin-right: 0px;margin-bottom: 0px;'>
          <a href="/home#/soundtrack/{{app.user.username}}" >SoundTags</a>
        <hr class="menu-hr">


          <img src="{{asset('pictures/icons/tinyBoardBlack.png')}}" style='height: 16px;'>
          <a href="/home#/myboards" >Boards</a>
        <hr class="menu-hr">
          <img src="{{asset('pictures/icons/tinyConfigBlack.png')}}" style='height: 16px;'> 
          <a href="/home#/settings" >Settings</a>

      </div>
    </h3>

      <div class="popover-content" style="text-align: right;font-size: 13px;font-weight: bold;font-family: cursive;" >
           <a  href="{{path('fos_user_security_logout')}}" >
                           Log out
              <img src="{{asset('pictures/icons/tinySwitchOffBlack.png')}}" style='height: 15px;margin-top: -5px;'>
            </a>           
    </div>

</div>
