<!DOCTYPE html>
<html lang="en">



<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js')}} "></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}} ">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/soullified.css')}} " >
</head>


<body>

<form method="post" {{ form_enctype(formprofil) }} >

<div id="main-container">

    <div id="side-menue">
         <div id="greeting">
             Singing up
        </div>
        <hr>
          <div id="left-menue" >
            <span class="focus">
                   Create account  
            </span>

                <br> 
                  Share your first Video
             
               <br>
          
            </div>


    </div>

    <!--first sing-up block-->
<div id="first-step" >
    <div id="greeting">
       Greeting {{name}} ! Welcome to soullified ;) 
    </div>
       <hr>

            <div id="singup-container">
                <div id="inputs-singup">
                    <div id="wtferror" class="btn btn-warning disabled"> Dude wtf ?!</div>
                    <div id="emailerror" class="btn btn-warning disabled"> Invalid Email !</div>
                    <div id="passerror" class="btn btn-warning disabled"> no match !</div>
                    <form method="post" {{ form_enctype(formuser) }} >

                    {{ form_widget(formuser.username) }}
                    <br>
                    {{ form_widget(formprofil.country) }}
                    {{ form_widget(formprofil.city) }}
                    <br>
                    <br>
          
                       {{ form_widget(formuser.email) }}
                       <br>
                      {{ form_widget(formuser.password) }}

                       <br>
                      <input id="password2" type="password" placeholder="Confirm Password" class="form-control input-lg" >
                      <br>
          
                    <br>
                </div>
                 <button id="next-step"  class="btn btn-primary pingbutton"> next step</button>
                 <br>
                 <br>
            </div>

    </div>
           
    </div>
    <!--second singup block-->
<div id="about-container">
    <div id="second-step" >
    <div id="greeting">
       Share your video
    </div>
    <hr>

            <div id="singup-container">
                <div id="inputs-singup">
                    <br>            
                <input type="text" class="input-lg form-control vid" id="videoinput">
                    {{ form_widget(formprofil.video) }}
                    <br>
                    <br>
                </div>
                <div id="video-container">
                     <iframe id="ytplayer" type="text/html" width="420px" http height="250px"
frameborder="0" allowfullscreen></iframe>
                

                </div>
                
                 </div>
                    <br>
    </div>


    <div id="second-step2" >
    <div id="greeting">
       Tell us about yourself
    </div>
    <hr>

            <div id="singup-container">
                <div id="inputs-singup">
                    <br>
                    {{ form_widget(formprofil.about) }}
                    <br>
                    <br>
                </div>

                 
          </div>
                    <br>
    </div>
</div>
  <span id="submit-btn-container">

   <input type="submit" id="submit" class="btn btn-primary pingbutton"  value="Submit"/>

    </span>
</div >

</form>
</form>
    </div>       

        <script type="text/javascript">


       


            $('#next-step').click(function(event){
                event.preventDefault();
           
                $('#first-step').fadeOut();
                $('#about-container,#submit-btn-container').animate({'left':'60%'},600);
                $('#about-container,#submit-btn-container').fadeIn();
                

           
            });

        </script>
        
        <div id="footer">
                 Copyright © 2013 soullified Inc. and respective owners. All rights reserved. <a href="#" >  terms of use </a> <a href="#">  privacy</a>
        </div>



    <div id="header">
            <b style="color:rgba(226, 235, 123, 1);font-weight: bolder;">Ping</b>ster.org
    </div>


    <script type="text/javascript">

        $("#fullname").change(function(){
            $(this).val($(this).val().charAt(0).toUpperCase() + $(this).val().slice(1));
            $("#wtferror").fadeOut(); 
            var usename=$(this).val();
            if((usename.indexOf("fuck") != -1)||(usename.indexOf("bitch") != -1))
                $("#wtferror").fadeIn(); 
           });

        $("#soullified_userbundle_user_email").change(function(){
            $("#emailerror").fadeOut(); 
            var usename=$(this).val();
            if((usename.indexOf("@") == -1)||((usename.indexOf(".") <= usename.indexOf("@"))))
                $("#emailerror").fadeIn(); 
           });

        videoID="";
         $("#videoinput").change(function(){
              $("#video-container").fadeIn();
              var chaine=$(this).val();
              if(chaine.indexOf("youtube") != -1){
                var i=chaine.indexOf("=");
                i=i+1;
                videoID=chaine.substring(i);
                var url="http://www.youtube.com/embed/"
              }


              else if(chaine.indexOf("vimeo")!= -1){
                var i=chaine.indexOf("vimeo.com")
                i=i+10;
                videoID=chaine.substring(i);
                var url="//player.vimeo.com/video/" ;
              }


              else{
               videoID=$(this).val() ;
               var url="http://www.youtube.com/embed/"
              }
                
                url=url+videoID;
                

              $("#ytplayer").attr("src",url);

              $("#soullified_profilbundle_profil_video_path").val(url);
            });



        $("#password1 , #password2").change(function(){
            $("#passerror").fadeOut(); 
            if((($("#password1").val())!=($("#password2").val()))&&($("#password2").val()))
                    $("#passerror").fadeIn();

           });




    </script>
      

       </body>

</html><!-- all righs reserved soullified.com