<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="souller.com scribble party digital scrapbook">
    <meta name="author" content="">

    <title>Souller - Your Life Soundtrack</title>
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('css/grayscale.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/soundtags.css')}} " > 
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ asset('components/webcomponentsjs/webcomponents.js')}}"></script>
    <script type="text/javascript" src="{{ asset('components/webcomponentsjs/souller_index.min.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"async defer></script>
    <link href="{{ asset('css/souller_index.css')}}" rel="stylesheet">
    <link rel="import" href="{{ asset('components/paper-input/paper-input.html')}}">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="soulHomeApp">

    <span id="player-giraffe" style="position:absolute;bottom:10px;left:10px;display:none;">
      <img src="{{asset('/pictures/icons/soundcloud.png')}}" style="  position: absolute;bottom: 10px;height: 52px;left: 396px;">
      <span id="player-controll-buttons">
        <img  id="previousTrack" src="{{asset('/pictures/icons/backward-white.png')}}" style="padding: 5px;border: 2px solid white;border-radius: 50%;margin-left: -12px;height: 25px;display:inline-block;margin-left: 10px;margin-right: 5px" >
        <img id="playerPlayButton" src="{{asset('/pictures/icons/play-button.png')}}" style="padding: 5px;border: 2px solid white;border-radius: 50%;height: 45px;display:inline-block" >
        <img  id="nextTrack" src="{{asset('/pictures/icons/forward-white.png')}}" style="padding: 5px;border: 2px solid white;border-radius: 50%;margin-left: -12px;height: 25px;display:inline-block;margin-right: 5px;margin-left: 5px;" >
      </span>
      <span id="player-track-title" ></span>
      <span id="progress-controls" >
        <span id="beginning">00:00</span>
        <span id="progress-bar-player-container" style="
        border: 1px solid white;
        width: 210px;
        padding-left: 88px;
        margin-left: 10px;
        height: 10px;
        margin-right: 10px;
        position:relative;
        margin-top: 5px;
    ">
        <span id="progress-line-playing" ></span>   

        </span>
        <span id="ending"></span>
      </span>
    </span>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                    <img src="{{asset('/pictures/icons/menu-icon-white.png')}}" style="height: 20px;">
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="font-family: 'Open Sans', sans-serif;text-transform:none;">
                      <span id="soul-icon-container" class="hide_small">
                        <img src="{{asset('/pictures/icons/soullogominiwhite.png')}}" id="soul-icon" style="margin-right: -5px;height: 36px;margin-left: -60px;margin-top: -7px;display:none;">
                      </span>
                        Soul<span class="light">Ler</span>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#sign-in-trigger">Log In</a>
                    </li>
                    <li>
                        <a  href="/register">Sign Up</a>
                    </li>
                    <li>
                        <a  href="/show/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="intro" style='background-image: url("/pictures/icons/blur_cassette.jpg");background-position: 0px -350px;background-size: cover;'>
        <div class="intro-body" >
            <a href="#discover" class="page-scroll""><img id="big-soul-tag" class="hide_small" src="{{asset('/pictures/icons/soulPsWhite.png')}}" style="position: absolute;top: 160px;margin-left: -60px;height: 80px;"></a>
            <div class="container">
                <div class="row">
                    <div id="small-static-text" class="intro-text col-md-8 col-md-offset-2 col-sm-12 col-md-offset-0" style="color: white;font-family:'Open Sans', sans-serif;font-size:40px;" >Your Life Soundtrack</div>

                    <div id="scrolling-board" class="col-md-10 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-2 hide_small" style="color: white;max-height: 70px;overflow: hidden;font-family:'Open Sans', sans-serif;margin-left: -46px;  width: 1200px;">                        <table>
                        <tr>
                            <td>
                                <span id="static-text" class="intro-text">
                                   A <b> Song</b> can tell about
                                </span>
                            </td>
                            <td>
                                <div id="dynamic-space">
                                    <span class="dynamic-text"> how you are feeling right now</span>
                                    <span class="dynamic-text"> an old memory</span>
                                    <span class="dynamic-text"> a place you ve been</span>
                                    <span class="dynamic-text"> someone you know</span>
                                    <span class="dynamic-text"> an old memory</span>
                                    <span class="dynamic-text"> how you are feeling right now</span>
                                    <span class="dynamic-text"> a place you ve been</span>
                                    <span class="dynamic-text"> someone you know</span>
                                    <span class="dynamic-text"> an old memory</span>
                                    <span class="dynamic-text"> how you are feeling right now</span>
                                    <span class="dynamic-text"> somwhere you ve been</span>
                                    <span class="dynamic-text"> someone you know</span>
                                    <span class="dynamic-text"> an old memory</span>
                                    <span class="dynamic-text"> how you are feeling right now</span>
                                    <span class="dynamic-text"> somwhere you ve been</span>
                                    <span class="dynamic-text"> someone you know</span>
                                    <span class="dynamic-text"> an old memory</span>
                                </div>
                            </td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div>
          <div class="row hide_small" id="profil-card-container">
            <span id="profil-card" class="col-md-2 col-sm-1 col-xs-1 col-md-offset-3 col-sm-offset-1 col-xs-offset-3 sub-container new-board-preview" style="position:fixed;top: 160px;z-index: 2;" >
              <a class="new-board-preview-title" >
                  <img id="profilpicthumb" style="width: 104px;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);border-radius: 50%;"
                                            src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg"
                                    />
                  <hr style="margin-bottom: 10px;margin-top: 10px;"> 
                  <span style="color: black;font-family: sans-serif;font-size: 15px;">
                    <img src="{{asset('/pictures/icons/share-fb.png')}}"  data-toggle="modal" data-target="#sign-in-trigger" style="height: 30px;" >
                    <img src="{{asset('/pictures/icons/share-gp.png')}}"  data-toggle="modal" data-target="#sign-in-trigger" style="height: 28px;" >
                    <img src="{{asset('/pictures/icons/share-tw.png')}}"  data-toggle="modal" data-target="#sign-in-trigger" style="height: 28px;" >
                  </span>
                  <br>
                  <button class="btn btn-primary" id="share_life_soundtrack_btn"  data-toggle="modal" data-target="#sign-in-trigger">Start Your Life Soundtrack</button>
                  
              </a>
            </span>
          </div>
          <a class="btn btn-default btn-lg page-scroll" id="scibble-button-big" href="#discover" style="text-transform:none;">#Tag_me_in_a_song</a>
        <a class="btn btn-default btn-lg page-scroll" id="scibble-button-small" href="#discover"  href="#discover" >Discover</a>
        </div>
    </header>
    <section id="discover" style="padding-top: 50px;" class="container content-section text-center" ng-view id="main-row">
    </section>
    <footer>
    </footer>



<div class="modal fade" id="sign-in-trigger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="position: absolute;top: 7px;right: 10px;z-index: 1000;">&times;</button>
      <div class="modal-body">
        <form action="{{ path('fos_user_security_check') }}" method="post" class="login-form" id="login">
           <h3 style="color:grey;text-transform:none;font-weight:normal;"><span> Login or </span> <a href="/register">Register</a></h3>
           <h4 style="color:grey;text-transform:none;font-weight:normal;margin-bottom: 15px;font-family:'Open Sans', sans-serif;" >Connect with social accounts</h4>
           <div class="social-icons">
            <a  href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" >
                <img style="height: 35px;border-radius: 4px;margin-left:5px;"  src="{{ asset('/pictures/icons/login_with_facebook.png') }}">
            </a>
            <a href="/connect/google" >
                <img style="height: 41px;border-radius: 4px;margin-left:5px;" src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Google_base_44dp.png">
            </a>
           </div>
           <hr>
           <div style="color:grey;font-family:'Open Sans', sans-serif;">Username</div>
           <input  class="form-control" style="margin-top:10px;margin-bottom:10px;border-color: rgb(50, 190, 248);"   id="username" name="_username" value="{{last_username }}" placeholder="Enter your username">
           <div style="color:grey;font-family:'Open Sans', sans-serif;margin-top:30px;">Password</div>
           <input type="password" class="form-control"  style="margin-top:10px;margin-bottom:10px;border-color: rgb(50, 190, 248);"  placeholder="Enter your password"  id="password" name="_password">
           <br>
           <br>
           <button style="border-radius: 2px;text-transform:none;box-shadow: 0 1px 3px rgba(0, 0, 0, .50);border: 0;" class="btn btn-primary">Log in</button>
        </form>
      </div>
<div class="modal fade" id="sign-up-trigger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center;height:50px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span class="modal-title" id="myModalLabel" >  </span>
      
      </div>
      <div class="modal-body">
              <div id="singup_block">
                    <div class="input-group">
                    <table>
                        <tr>
                            <td>
                                <div class="input-group" style="margin-left: -2px;">
                                    <a type="button" class="btn btn-primary btn-lg btn-block" href="/connect/facebook" style="width: 260px;padding-left: 35px;font-size: 15px;"> 

                                        <img style="padding: 9px;position: absolute;background-color: #264B81;top: 0px;left: 0px;"   src="{{ asset('/pictures/icons/facebook.png') }}"> Sing In with facebook</a>
                                </div>
                            </td>
                        
                            <td >
                                <div class="input-group" style="margin-left: -291px;">
                                    
                                    <a type="button" class="btn btn-danger btn-lg btn-block"  href="/connect/google" style="width: 260px;padding-left: 15px;font-size: 15px;"> 
                                        <img style="padding: 9px;position: absolute;background-color: #D62A2A;top: 0px;left: 0px;" src="{{ asset('/pictures/icons/google-icon.png') }}"> Sing In with Google+</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                   </div>              
             <hr style="border-color: rgba(0, 0, 0, 0.13);">
             <form action="{{ path('fos_user_security_check') }}" method="post" class="login-form" id="login">
                   <div class="input-group col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" style="margin-top:40px;">
                        <span class="input-group-addon"><img src="{{ asset('/pictures/icons/tinyUserBlack.png') }}"></span>
                        <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{last_username }}">
                   </div>
                   <div class="input-group col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" style="margin-top:20px;">
                        <span class="input-group-addon"><img style="height: 26px;margin-right: -5px;margin-left: -5px;" src="{{ asset('/pictures/icons/key.png') }}"></span>
                        <input type="password"  class="form-control" placeholder="Password" id="password" name="_password" />
                    </div>

                    <span style="position: absolute;top: 80px;left:0;font-size: 21px;padding-right: 30px;padding-left: 30px;background-color: #F7F7F7;text-align:center;width:100%">Or</span>
                    <div class="input-group col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" style="margin-top: 10px;">
                        <button type="type" class="btn btn-success form-control">Sing In</button>
                    </div>
            </form>
            </div>
          </div>
    <script src="{{ asset('js/jquery-1.7.2.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('js/jquery.easing.min.js')}}"></script>
    <script src="{{ asset('js/grayscale.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/angular.min.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('js/jquery.autocomplete.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/soundcloud.sdk.js')}}" ></script>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
</body>
</html>