<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{asset('pictures/icons/soulicon.ico')}}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{asset('pictures/icons/soulicon.ico')}}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}} ">
    <script type="text/javascript" src="{{ asset('components/webcomponentsjs/webcomponents.js')}}"></script>
    <link rel="import" href="{{ asset('components/core-icons/core-icons.html')}}">
    <link rel="import" href="{{ asset('components/core-icons/av-icons.html')}}">
    <link rel="import" href="{{ asset('components/core-icons/social-icons.html')}}">
    <link rel="import" href="{{ asset('components/core-scaffold/core-scaffold.html')}}">
    <link rel="import" href="{{ asset('components/core-header-panel/core-header-panel.html')}}">
    <link rel="import" href="{{ asset('components/paper-tabs/paper-tabs.html')}}">
    <link rel="import" href="{{ asset('components/paper-input/paper-input.html')}}">
    <link rel="import" href="{{ asset('components/core-menu/core-menu.html')}}">
    <link rel="import" href="{{ asset('components/core-item/core-item.html')}}"> 
    <script type="text/javascript" src="{{ asset('js/angular.min.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script>    
    <title>avatar - {%if 'souller' in url('render_home_page') %}souller{% else %}scribbler party{%  endif %}</title>
</head>
<body>
  <style type="text/css">
    html, body {
      height: 100%;
      margin: 0;
    }
  
    body {
      font-family: sans-serif;
    }
    
    core-scaffold {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    #soundtagsLabel{
      display: none;
    }
    
    @media only screen and (min-width:500px)
    {
      #soundtagsLabel {
         display: block;
      }
    }

    .avatar{
      border-radius: 50%;
      height: 50px;
      margin: 2px;
      opacity: 0.7;
      cursor: pointer;
    }
    .avatar:hover{
      opacity: 1;
    }

    .avatar-selected{
      border-color: #66afe9;
      outline: 0;
      opacity: 1;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
    .content {
      background-color: #F5F5F5;
    }
    
    a{
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
    }

    paper-input {
      width: 98%;
    }

    core-icon {
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
    }

    core-header-panel{
      background-color:white;
    }

    /* some default styles for mode="cover" on core-scaffold */

    core-scaffold[mode=cover]::shadow core-header-panel::shadow #mainContainer {
      left: 120px;
    }

    core-scaffold[mode=cover] .content {
      background-color: #F5F5F5;
      margin: 20px 100px 20px 0;
    }
    core-toolbar{
      color: white;
      background-color: #4875AD;
      border-bottom: 1px solid rgb(221, 221, 221);
    }

    core-item{
      cursor: pointer;
    }

    core-item:hover{
      background-color: rgba(242, 242, 242, 0.3);
    }

    .core-selected{
      background-color: rgba(242, 242, 242, 0.3); 
    }

    paper-tabs[noink][nobar] paper-tab.core-selected {
      color: #03a9f4;
      background-color: #eee;
    }

    paper-tab.core-selected {
      background-color: #eee;
      color: #03a9f4;
    }

    paper-tab{
      background-color: #eee;
    }

    hr{
      opacity: 0;
    }

     #background-file-uploader input[type=file],#profilPic-file-uploader input[type=file] {
        margin-left: 60px;
        width: 150px;
        margin-left: 60px;
        background-image: url("{{asset('pictures/icons/photo_placeholder.jpg')}}");
        height: 150px;
        font-size: 0px;
        background-repeat: no-repeat;
        background-size: 100%;
        border: 1px rgba(128, 128, 128, 0.22) solid;
        cursor: pointer;
        opacity: 0.7;
      }

   .new-track-preview{
      color: rgba(0, 0, 0, 0.78);
      margin-top: -2px;
      font-weight: bold;
      margin-bottom: 30px;
      font-family: OpenSans-Light;
      padding-top: 15px;
      padding-bottom: 90px;
      border: 1px solid white;
      opacity: 1;
      background-color: white;
      box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.5);
    }

  .selected{
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    }

  </style>
  <core-scaffold id="sco" responsiveWidth="800px" >
    <core-header-panel navigation flex  mode="waterfall" >
      <core-toolbar >
      <img id="soullogo" src="/pictures/icons/soullogominiwhite.png" style="cursor:pointer;opacity: 1;">      
      <span style="font-weight:bold;margin-left: -9px;margin-right:0px;">
        {%if 'souller' in url('render_home_page') %}
        Soul</span>Ler
        {% else %}scribbler </span>party
        {%  endif %}
      </core-toolbar>
      <core-menu >
        <core-item icon="explore" label="Explore" onClick="closeDrawer()"><a href="/home#/hot"></a></core-item>
        <core-item icon="av:queue-music" onClick="closeDrawer()" label="SoundTags"><a href="/home#/soundtrack/{{app.user.username}}"></a> </core-item>
        <core-item icon="book" label="Scrap Book"><a href="{{ path('pingsteprofil')}}#/scrapbook/{{app.user.username}}" ></a></core-item>
        <core-item onClick="closeDrawer()" icon="dashboard" label="My Boards">
        <a href="/home#/myboards"></a>
        </core-item>
        <core-item onClick="closeDrawer()" icon="add-box" label="Create Board" style="border-bottom: 1px solid rgba(211, 211, 211, 0.33);">
        <a href="/home#/new"></a>
        </core-item>
        <core-item onClick="closeDrawer()" icon="settings" label="Accout Settings" >
          <a href="/home#/settings" ></a>
        </core-item>
        <core-item onClick="closeDrawer()"  icon="drafts"  label="Help & Feedback" style="border-bottom: 1px solid rgba(211, 211, 211, 0.33);"><a href="/logout"></a></core-item>      
        <core-item onClick="closeDrawer()"  icon="settings-power"  label="logout" ><a href="/logout"></a></core-item>      
      </core-menu>
    </core-header-panel>
    
      <div id="menu-label" tool flex></div>
    <div tool >
      <span id="non-condonsed-tools">
          <core-icon-button icon="search" id="core_icon_button1"></core-icon-button>
          <core-icon-button icon="social:notifications-none"></core-icon-button>
          <img width="30" height="30" src="{{app.user.profil.profilPicture}}" style="background-color:white;border-radius: 50%;margin: 4px;cursor:pointer;">
        </span>

    </div>
    <div class="content">
    <paper-tabs id="exploreTabs" selected="0" self-end noInk style="cursor:pointer;display:none;">
        <paper-tab name="hotLink">
        <a id="hotLink" href="/home#/hot" flex style="height: initial;width:100%;text-align:center;padding: initial;flex: initial;flex-basis: initial;text-decoration: none;">
            <core-icon icon="social:whatshot" style="margin-right:0px;"></core-icon>
            What's Hot 
        </a>
        </paper-tab>
      <paper-tab name="risingLink">
        <a id="risingLink" href="/home#/rising" flex style="height: initial;width:100%;text-align:center;padding: initial;flex: initial;flex-basis: initial;text-decoration: none;">
          <core-icon icon="trending-up" style="margin-right:0px;"></core-icon>
          Rising
        </a>
      </paper-tab>
      <paper-tab name="recommandedLink">
        <a id="recommandedLink" href="/home#/liked" flex style="height: initial;width:100%;text-align:center;padding: initial;flex: initial;flex-basis: initial;text-decoration: none;">
          <core-icon icon="favorite-outline" style="margin-right:0px;"></core-icon>
          Liked
        </a>
      </paper-tab>
    </paper-tabs>

      <br>
      <form method="POST" action="/profil/set/avatar">
      <div style="padding: 20px;text-align:right" class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2 col-xs-offset-0 boards-container">

        {%  if app.user.google_id or app.user.facebook_id %}
        <h2 id="greeting_message"></h2>
        <div class="input-group" style="margin-left:0px;margin-bottom:25px">
                        <span class="input-group-addon"><img src="{{ asset('pictures/icons/tinyUserBlack.png') }}" style="margin-right: 7px;"></span>
                        <input id="guestName" style='width:100%;z-index:0;' name="username" type="text" class="form-control input-lg" placeholder="Username">
                        <div id="username-exist" style="font-family:sans-serif;display:none;color: red;position: absolute;right: 5px;font-size: 12px;">username exists</div>
        </div>
        {%  endif %}
        <hr style="margin-bottom:0px;">
        <br>
        <span id="avatars-container"  >
          
        </span>
        <br>
        <hr>
        <span style="margin-top:50px;">
          <input id="avatar-input" type="hidden" name="avatar" value="/pictures/icons/thumbuser.png">
          <button id="submitProfilPicture" class="btn btn-primary" disabled="true">Confirm</button>
        </span>
        <img  id="profil-pic-preview" style="position: fixed;top: 90px;left: 280px;height: 120px;" />
      </div>
      </form>
  

  </div>
  </core-scaffold>
  {% include "PunkAveFileUploaderBundle:Default:templates.html.twig" %}
<script type="text/javascript">

(function() {
  var app_user="{{app.user.profil.fullname}}";
  var firstName=app_user.split(" ")[0];
  {%  if app.user.google_id or app.user.facebook_id %}
   $("#greeting_message")[0].innerHTML = "Hi "+firstName+" ! please Pick a Username"
  {% endif %}
  $('#menu-label')[0].innerHTML="Hi "+firstName+ "!! <div id='soundtagsLabel' style='font-size: 13px;opacity: 0.8;'>Please pick "+
  {%  if app.user.profil.photoconnect %}
  "a Username</div> ";
  {%  else %}
  "an Avatar & a Username</div> ";
  var avatarsHTML="";
  var avatarsArray=[
                    'einstein',
                    'gandi',
                    'mario',
                    'steve',
                    'alien',
                    'blondy',
                    'kim',
                    'woods',
                    'indiangirl',
                    'hiphop',
                    'charli',
                    'hitler',
                    'lara',
                    'king',
                    'queen',
                    'moneyMan',
                    'jackson',
                    'milky',
                    'astraunaut',
                    'diver',
                    'red',
                    'neo',
                    'chegavara',
                    'driver',
                    'devil',
                    'paps',
                    'kayty',
                    'terminator',
                    'pokahantis',
                    'vikings',
                    'sheldon',
                    'lenny',
                    'harold',
                    'rajif',
                    ]

  for (var i = 0; i < avatarsArray.length; i++) {
    avatarsHTML = avatarsHTML + "<img src='/avatars/"+avatarsArray[i]+".jpg'  class='avatar'>" ;
  };

  $("#avatars-container")[0].innerHTML=avatarsHTML;
  {%  endif %}
})();
  
$(".avatar").click(function() {
        avatarChosen = true;
        localStorage.setItem("guestAvatar",this.src);
        localStorage.setItem("guestName",$("#guestName").val());
        $("#fresh-comment-thumbnail").attr("src",this.src);
        $("#avatars-container").find("img").attr("class","avatar");
        $(this).attr("class","avatar avatar-selected");
        $("#avatar-input").val($(this).attr("src"));
      })

var trackUploadId = -1;
var isVelcroWallpaper =false;
var isAvatar =false;
var isProfilPic=false;
function setIsVelcroWallpaper()
{
  isVelcroWallpaper =false;
}

function setIsProfilPic() {
  isAvatar =true;
}


$("#guestName").change(function(){


   var url="/verifusername";
   $.get(url,{username:$(this).val()},
        function(data){   
           //the response is in the data variable
           if(data.resultat=="found") {
                  invalidusername=true;
                  console.log("username exist !!")
                  $("#username-exist").fadeIn();        
                  $("#submitProfilPicture").attr("disabled","true");
                  $("#guestName").css("border","rgb(243, 148, 148) 1px solid")
            }
            else if(data.resultat!="found") {
                  invalidusername=false;
                  $("#username-exist").fadeOut();          
                  $("#submitProfilPicture").removeAttr("disabled");
                  $("#guestName").css("border","1px solid #C9CED6")
              

            }
           else{
              //if we got to this point we know that the controller
              //did n
             // return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              alert("An unexpeded error occured.");

           }
         }
       );


    })



getEditId();
</script>
</body>
<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js')}} "></script>
<script type="text/javascript" src="{{ asset('js/underscore-min.js')}} "></script>
<script type="text/javascript" src="{{ asset('js/jquery.fileupload.js')}} "></script>
<script type="text/javascript" src="{{ asset('js/jquery.iframe-transport.js')}} "></script>
<script type="text/javascript" src="{{ asset('js/FileUploader.js')}} "></script>
<script type="text/javascript" src="{{ asset('js/jquery.autocomplete.js')}}"></script>
</html><!-- all righs reserved {%if 'souller' in url('render_home_page') %}souller{% else %}scribbler party{%  endif %}