

{% block body %}

{# Underscore templates for the uploader #}


<!-- <img src="{{ asset('uploads/tmp/attachments/1404158447/large/x.jpg')}} "> -->
   <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js')}} "></script>
    <script type="text/javascript" src="{{ asset('js/jquery.fileupload.js')}} "></script>
    <script type="text/javascript" src="{{ asset('js/jquery.iframe-transport.js')}} "></script>
    <script type="text/javascript" src="{{ asset('js/underscore-min.js')}} "></script>
    <script type="text/javascript" src="{{ asset('js/FileUploader.js')}} "></script>
 {% include "PunkAveFileUploaderBundle:Default:templates.html.twig" %}
   
<form class="edit-form" action="{{ path('edit', { id: posting.id, editId: editId }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
 {# Hydrated by javascript #}   
    <a href="/home#/chooseavatar">Change Avatar</a>

    <button class="btn btn-primary" type="submit">{{ isNew ? "Save New Listing" : "Save Changes" }}</button> 
    <a class="btn" href="{{ cancel }}">Cancel</a>
    {% if not isNew %}
        <a class="btn btn-danger" href="{{ path('delete', { id: posting.id } ) }}">Delete</a>
    {% endif %}

</form>

<script type="text/javascript">

// Enable the file uploader

$(function() {
    new PunkAveFileUploader({ 
        'uploadUrl': {{ path('upload', { editId: editId }) | json_encode | raw }},
        'viewUrl':   "{{ '/uploads/tmp/attachments/' ~ editId | json_encode | raw }}",
        'el': '.file-uploader',
        'exist gingFiles': {{ existingFiles | json_encode | raw }},
        'delaySubmitWhileUploading': '.edit-form'
    });
});
</script>
{% endblock %}