<br>
    <form class="edit-form" method="post"  action="/savenewboard/{{id}}"   {{ form_enctype(formboard) }}   >  
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-10 col-xs-10 col-md-offset-3 col-sm-offset-1 col-xs-offset-1" role="main">
        <h4>New Board Info</h4>
        <input type="text" id="predefinedbackgroud" name="predefinedbackgroud" style="display:none;">

               {{ form_widget(formboard.title) }}
                <br>
               {{ form_widget(formboard.description) }}
                
            {%  if type=="board" %}
              <h4> Privacy </h4>
                 <h5 style="font-family:OpenSans-Light;colo:grey;">who can see your board :{{ form_widget(formboard.Viewprivacy) }}</h5>           
                 <h5 style="font-family:OpenSans-Light;color:grey;">who can write on board :{{ form_widget(formboard.Commentprivacy) }}</h5>
           {% endif %}
                <br>
                <h4>Choose Background</h4>
                <br>
          </div>
          <div class="col-md-6 col-sm-10 col-xs-10 col-md-offset-3 col-sm-offset-1 col-xs-offset-1" >
            <span id="background-file-uploader" class="file-uploader" ng-click="setIsVelcroWallpaper()"></span>
          </div>
          <div id="prev-group" class="col-md-3 col-sm-2 col-xs-10 col-md-offset-6 col-sm-offset-1 col-xs-offset-1" style="  height: 238px;overflow-y: scroll;position: absolute;top: 210px;">
                      <br>
                      <input type="hidden" name="backgroundurl" id="backgroundurl">
                    
                      <img class="thumbnail small-background-preview"  onClick="setPredefinedBackground(this)"  src="{{asset('pictures/background/bluewood.jpg')}}" >

                      <img class="thumbnail small-background-preview"  onClick="setPredefinedBackground(this)"  src="{{asset('pictures/background/default.jpg')}}">  

                      <img class="thumbnail small-background-preview"  onClick="setPredefinedBackground(this)"  src="{{asset('pictures/background/brownwood.jpg')}}" >

                      <img class="thumbnail small-background-preview"  onClick="setPredefinedBackground(this)"  src="{{asset('pictures/background/paper1.jpg')}}" >

                      <img class="thumbnail small-background-preview"  onClick="setPredefinedBackground(this)"  src="{{asset('pictures/background/whitewood.jpg')}}" >

                      <img class="thumbnail small-background-preview"  onClick="setPredefinedBackground(this)"  src="{{asset('pictures/background/greenboard.jpg')}}" >

                      <img class="thumbnail small-background-preview"  onClick="setPredefinedBackground(this)"  src="{{asset('pictures/background/blackboard.jpg')}}" >

                       <input id="hiddenEditId" type="hidden" name="editId" >
                </div>


      <div  class="col-md-6" style="display:none;"  >
                <h4>Container</h4>
                <div id="fileUpload" class="file-uploader"></div>

                <div id="prev-group">
                      <input type="hidden" name="container" id="hiddencontainer" >
                    
                      <img  class="thumbnail small-container-preview" ng-click="setPredefinedContainer(this)" src="{{asset('pictures/containers/post-it-yellow.png')}}" >

                      <img  class="thumbnail small-container-preview" ng-click="setPredefinedContainer(this)" src="{{asset('pictures/background/brownwood.jpg')}}" >


                      <img  class="thumbnail small-container-preview" ng-click="setPredefinedContainer(this)"  src="{{asset('pictures/background/paper1.jpg')}}" >


                      <img  class="thumbnail small-container-preview" ng-click="setPredefinedContainer(this)"  src="{{asset('pictures/background/whitewood.jpg')}}" >

                </div>

      </div>
    </div>  


      {%  if type=="board" %}
              <div id="boardsong" style="display:none;" >
                <h4>song</h4>
                 <div class="file-uploader"></div>
              </div>
      {%  endif %}
            <div class="modal-footer col-md-6 col-sm-10 col-xs-10 col-md-offset-3 col-sm-offset-1 col-xs-offset-1" style="margin-top: 30px;">
                <button class="btn btn-primary" type="submit">Create Board</button> 
            </div>



    </div>




</div > <!-- end row -->
</div> 

</form>


 <style type="text/css">

    .small-container-preview{
      cursor:pointer;
      width:100px;
      margin-top:20px;
      height:100px;
      margin-left: 10px;
      display:inline-block;
      box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.6), 0 0 0px 1px rgba(255, 255, 255, 0.5);
      opacity: 0.7;
    }

    .small-background-preview
    {
      width: 60px;
      display: inline;
      height: 60px;
    }

    .album{
      width: 100px;
      position: absolute;
      cursor: pointer;
      left: 566px;
      top: 160px;
    }

 
    .submenu-item:hover{
      background-color: white;
    }


    .submenu-icons{
      margin-right: 10px;
       display: inline-block;
      width: 60px;
      vertical-align: -17px;
      height: 45px;
      background-image: url("{{asset('pictures/icons/transparent-preview-black.png')}}");
    }

</style>