<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{asset('pictures/icons/soulicon.ico')}}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{asset('pictures/icons/soulicon.ico')}}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}} ">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/lightbox.css')}} " >
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css')}} " >
    <link rel="stylesheet" type="text/css" href="{{ asset('blue.monday/jplayer.blue.monday.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('css/slider.css')}} " >
    <link rel="stylesheet" type="text/css" href="{{ asset('css/component.css')}} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/board.css')}} " > 
    <title>{{board.title}}</title>
</head>
<body>
{%  if board.Coverurl %}

  <img id="background-pic" src="{{asset('web/uploads/tmp/attachments/'~board.Coverurl)}}" style="position:fixed;width:100%;height:100%;">  

{%  else %}

  <img id="background-pic" src="{{asset('pictures/background/paper1.jpg')}}" style="position:fixed;width:100%;height:100%;">  

{%  endif %}


  {% include "PunkAveFileUploaderBundle:Default:templates.html.twig" %}
  {%  if app.user %}
    {% include "soullifiedboardBundle:templates:UserMenuTemplate.html.twig" %}
  {% endif %}
  {% include "soullifiedboardBundle:templates:SideMenuTemplate.html.twig" %}
  {% include "soullifiedboardBundle:templates:modalsTemplate.html.twig" %}


    <div id="main-container" class="avgrund-contents" >  

<span id="comments">


         {% for comment in board.comments %}


               {% if comment.font=="arrow" %}
         
                <img id='{{comment.Id}}' date='{{comment.date}}' ownerid='{{comment.owner.user.username}}' owner='{{comment.owner.Fullname}}' class='comment' src="{{asset('pictures/icons/')}}{{comment.color}}"  style='position:absolute;top:{{comment.posx}}px;left:{{comment.posy}}px;color:{{comment.color}};-webkit-transform:{{comment.rotation}};-moz-transform:{{comment.rotation}};font-family:arrow;cursor:pointer;'>


               {% else %}

                 {% if board.container %}
                    <img class="comment-container" src="{{board.container}}" style='position:absolute;top:{{comment.posx}}px;left:{{comment.posy}}px;-webkit-transform:{{comment.rotation}};width: 255px;margin-top: -60px;margin-left: -52px;' >
                 {% endif %}

                   <div id='{{comment.Id}}' date='{{comment.date}}' 
                        {%  if comment.owner %}
                        ownerid='{{comment.owner.user.username}}' owner='{{comment.owner.Fullname}}' 
                        {% elseif comment.Anonyname %}
                        owner='{{comment.Anonyname}}' 
                        {%  endif %}
                        class='comment' style='font-family:{{comment.font}};font-size:{{comment.size}};position:absolute;top:{{comment.posx}}px;left:{{comment.posy}}px;color:{{comment.color}};-webkit-transform:{{comment.rotation}};-moz-transform:{{comment.rotation}};'
                  {% if comment.owner %}
                      {%  if comment.owner.photourl %}
                          profil-pic="{{asset('web/uploads/tmp/attachments/')}}{{comment.owner.photourl.album.folder}}/thumbnails/{{comment.owner.photourl.url}}" 
                      {%  elseif comment.owner.Photoconnect %}
                          profil-pic="{{comment.owner.Photoconnect}}" 
                      {%  elseif comment.owner.photourl==null and comment.owner.Photoconnect==null %}
                          profil-pic="{{asset('pictures/icons/thumbuser.png')}}"  
                      {% endif %}

                  {% else %}
                          owner='{{comment.Anonyname}}'   
                          profil-pic="{{asset('pictures/icons/thumbuser.png')}}"  
                  {% endif %}
                
                  >
                          {{comment.content}}
                   </div>


              {% endif %}

    

           {% endfor %}
</span>
  

<span id="album-container"  >


  <img id="canvasimg" style="position:absolute;top: 126px;left: 309px;" style="display:none;">

        {% for album in board.albums %}
        

<div class="album" id="{{album.folder}}" style="left:{{album.posx}}px;-webkit-transform:{{album.rotation}};-moz-transform:{{album.rotation}};top:{{album.posy}}px;" albumId="{{album.Id}}">
      <input id="albumId" value="{{album.Id}}" style="display:none;">
             {% for photo in album.photos %}
            
            <a class="lightbox" title="{{album.title}}"  >  
                <img id="{{album.folder}}" onClick="AvgrundPopoup('#photo{{album.folder}}{{album.Id}}')" albumId="{{album.Id}}" Title="{{album.title}}" ownername="{{board.profil.Fullname}}" ownerId="{{board.profil.Id}}" style="position: absolute;width:200%;border:0px;" 
               class="thumbnail albumphotos" 
               src="{{asset('web/uploads/tmp/attachments/'~album.folder~'/small/'~photo.url)}}" /> 
            </a>
        {% if roleflag=="Owner" %}
            <span class='small-menu-icons' style='right:35px;'>
              <img class='rotate-small' src='{{ asset('pictures/icons/small-rotate.png') }}'  onClick=rotateslider("{{album.folder}}","pic") />
              <img class='delete-small'  src='{{ asset('pictures/icons/small-trash.png') }}'  onClick=removealbum("{{album.folder}}","{{album.Id}}") />
            </span>
        {%  endif %}
            {% endfor %}

             <!-- <div class="albumtitle"> {{album.title}}</div> -->
        <script type="text/javascript">

           // loop({{album.folder}});

        </script>

</div>

        {% endfor %}

  </span>


   
                        
               
  {% if roleflag=="notafriend" %}

            <script type="text/javascript">
              $("#board-owner").popover({title:"<div class='notification' style='padding:7px;'><b>Send<a > {{board.profil.Fullname}} </a>a Friend Request <b><br><button class='btn btn-success btn-sm'  data-toggle='modal' data-target='#friendrequestmodal' style='margin-right:5px;'>Send Request</button><button class='btn btn-default onClick='AvgrundPopoup('#new-board')'>Message</button></div>",html:true,placement:"bottom",trigger:"hover",delay:{hide: 1500}});

            </script>
            {% endif %}

            {% if roleflag=="friendseeker" %}
              <script type="text/javascript">

              $("#board-owner").popover({title:"<div class='notification' style='padding:7px;'><b>Send<a > {{board.profil.Fullname}} </a> a Friend Request <b><br><button class='btn btn-info btn-sm disabled ' style='margin-right:5px;'>Request Sent</button><button class='btn btn-default btn-sm' onClick='AvgrundPopoup('#new-board')'>Message</button></div>",html:true,placement:"bottom",trigger:"hover",delay:{hide: 1500}});

              </script>
                          
            {% endif %}


           {% if roleflag=="friend" %}
              <script type="text/javascript">

              $("#board-owner").popover({title:"<div class='notification' style='padding:7px;'><b>Send<a > {{board.profil.Fullname}} </a> a Friend Request <b><br><button class='btn btn-default btn-sm disabled ' style='margin-right:5px;'>Friend</button><button class='btn btn-default btn-sm' onClick='AvgrundPopoup('#new-board')'>Message</button></div>",html:true,placement:"bottom",trigger:"hover",delay:{hide: 1500}});

              </script>
                          
            {% endif %}
         

    </div>
</div>

  
  {% include "soullifiedboardBundle:templates:HeaderTemplate.html.twig" %}
  <div class="md-overlay" style="background: rgba(167, 186, 207, 0.59)"></div>

</body>
    <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js')}} "></script>
    <script type="text/javascript" src="{{ asset('js/lightbox-2.6.min.js')}} "></script>
    <script type="text/javascript" src="{{ asset('js/jquery.jplayer.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script>     
    <script type="text/javascript" src="{{ asset('js/underscore-min.js')}} "></script>
    <script type="text/javascript" src="{{ asset('js/jquery.fileupload.js')}} "></script>
    <script type="text/javascript" src="{{ asset('js/jquery.iframe-transport.js')}} "></script>
    <script type="text/javascript" src="{{ asset('js/FileUploader.js')}} "></script>
    <script type="text/javascript" src="{{ asset('js/jquery.autocomplete.js')}}"></script>
    {% include "soullifiedboardBundle:templates:StyleTemplate.html.twig" %}
    {% include "soullifiedboardBundle:templates:JsTemplate.html.twig" %}

    <script type="text/javascript">

      function popoverComment(commentdiv){         
      var smallControlMenu="";
      var commentTitle;
      
      {% if roleflag=="Owner" %} 
     
       smallControlMenu="<div class='small-menu-icons' style='display:inherit;' ><img class='edit-small' src='{{ asset('pictures/icons/small-edit.png') }}'  onClick=rotateslider("+commentdiv.attr('id')+") /><img class='rotate-small' src='{{ asset('pictures/icons/small-rotate.png') }}'  onClick=rotateslider("+commentdiv.attr('id')+") /><img class='delete-small'  src='{{ asset('pictures/icons/small-trash.png') }}'  onClick=removecomment("+commentdiv.attr('id')+") /></div>";


      {% endif %}

        var ownerid=commentdiv.attr("ownerid");
        var path="{{ asset('/life-according-to/') }}"+ownerid;

        var trigger="hover";
        var place="top";
        var date=commentdiv.attr("date");
        var pos=commentdiv.css("left").replace("px","");
        var postop=commentdiv.css("top").replace("px","");
        var halfwidth=window.innerWidth/2;
        var halfHeight=window.innerHeight/4;
        
        if(postop>halfHeight) place="top";
        else place="bottom";

        if (pos<100) place="right";
        if (pos> window.innerWidth -250) place="left";

        if(commentdiv.css("font-family")=="arrow") {
          commentTitle="-->";
          trigger="click"
        }

        if(commentdiv.css("font-family")=="arrow") {
          commentTitle="-->";
          trigger="click"
        }

        else commentTitle=commentdiv.html();

      {%  if roleflag=="Owner" %}
        commentdiv.popover({title:"<a href='"+path+"'' class='comment-owner'>"+commentdiv.attr("owner")+" </a><br>"+commentTitle+"<img class='comment-thumbnail' src="+commentdiv.attr("profil-pic")+" />"+smallControlMenu,html:true,content: "<span style='color: grey;font-size: 10px;'>"+date+" ago</span><span class='small-friend-request'>become a friend</span>",placement:place,trigger:"hover",delay:{hide: 1000}});
      {%  else %}
        commentdiv.popover({title:"<a href='"+path+"'' class='comment-owner'>"+commentdiv.attr("owner")+" </a><br>"+commentTitle+"<img class='comment-thumbnail' src="+commentdiv.attr("profil-pic")+" />"+smallControlMenu,html:true,content: "<span style='color: grey;font-size: 10px;'>"+date+" ago</span><span class='small-friend-request'>become a friend</span> <img src={{asset('pictures/icons/tiny-msg-black.png')}} class='small-msg' /> <span>",placement:place,trigger:"hover",delay:{hide: 1000}});
      {%  endif %}                    
        commentdiv.popover("show");
        $(".move-small").tooltip({title:"move"});
        $(".rotate-small").tooltip({title:"rotate"});
        $(".delete-small").tooltip({title:"delete"});

      }



      // ajax dude ajax !!
  //listen for the form beeing submitted
   $("#comment-form").submit(function(){
      //get the url for the form

      var url="{{ asset('app_dev.php/myboard/addcomment/') }}";
      url=url+"{{board.Id}}";
      
      if($("#comment-form #comment-area").val()=="") {
        commentContainerFadeOut()
        return false;
      }

$("#comment-form #comment-area").val()
       $("#submit-comment").attr("disabled","true");
       $(".modal-footer").css("cursor","progress");
       $.post(url,{
           content:$("#comment-form #comment-area").val(),
           size:$("#comment-area").css("font-size"),
           font:$("#font-selector").val(),
           color:$("#color-selector").val(),
           posx:$("#comment-area").offset().top+9,
           posy:$("#comment-area").offset().left+15,
      {%  if not app.user %}
          anonyname:$("#anonyname").val(),
      {%  endif %}
           rotation:$('#comment-area').css('-webkit-transform'),
       },function(data){   
           //the response is in the data variable
            if(data.responseCode==200 ){
             // alert(data.commentId); 
              submit_comment(data.commentId,$("#comment-area").offset().top+9,$("#comment-area").offset().left+15);
              $("#submit-comment").removeAttr("disabled");
              $(".modal-footer").css("cursor","move");
              $(".comment").draggable();
            }
           else if(data.responseCode==400){//bad request
              
              
           }
           else{
              //if we got to this point we know that the controller
              //did not return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              ////alert("An unexpeded error occured.");

           }
       });//It is silly. But you should not write 'json' or any thing as the fourth parameter. It should be undefined. I'll explain it futher down

      //we dont what the browser to submit the form
    return false;
   });


//addd-a -new comment
function submit_comment(id,top,left){

      $("#comment-container").fadeOut();

     {% if not app.user %}
         var profilpic="{{asset('pictures/icons/thumbuser.png')}}";
     {%  elseif app.user.profil.photourl %} 
         var profilpic="{{asset('web/uploads/tmp/attachments/')}}{{app.user.profil.photourl.album.folder}}/thumbnails/{{app.user.profil.photourl.url}}";

      {%  elseif app.user.profil.Photoconnect %}
          var profilpic="{{app.user.profil.Photoconnect}}}";
      {%  else %}
          var profilpic="{{asset('pictures/icons/thumbuser.png')}}";
      {%  endif %}

{%  if app.user %}

    commentHtml="<div id="+id+" class='comment' date='Just now' ownerid='{{app.user.profil.Id}}' profil-pic='"+profilpic+"' owner='{{app.user.profil.fullname}}'  style='font-family:"+$("#font-selector").val()+";font-size:"+$("#comment-area").css("font-size")+";position:absolute;top:"+top+"px;left:"+left+"px;color:"+$("#color-selector").val()+";-webkit-transform:"+$("#comment-area").css("-webkit-transform")+";-moz-transform:"+$("#comment-area").css("-webkit-transform")+"'>"+$("#comment-container #comment-area").val()+"</div>";
{%  else %}
    var ownername=$("#anonyname").val();
    commentHtml="<div id="+id+" class='comment' date='Just now' ownerid='' profil-pic='"+profilpic+"' owner='"+ownername+"'  style='font-family:"+$("#font-selector").val()+";font-size:"+$("#comment-area").css("font-size")+";position:absolute;top:"+top+"px;left:"+left+"px;color:"+$("#color-selector").val()+";-webkit-transform:"+$("#comment-area").css("-webkit-transform")+";-moz-transform:"+$("#comment-area").css("-webkit-transform")+"'>"+$("#comment-container #comment-area").val()+"</div>";

{% endif %}  
  var nbr= document.getElementById("nbrOfComments").innerHTML;
  nbr++;
  document.getElementById("nbrOfComments").innerHTML=nbr;
  

  $("#main-container").append(commentHtml);
 
    $(".comment").mouseup(function(){

           $(this).css("border", "");
           $(this).css("cursor","default")
           var leftpx=$(this).css("left");
           var toppx=$(this).css("top");
           var url;
           var commentId=$(this).attr("id");
           url="{{ asset('updateposcomment/') }}";
           url=url+commentId;
       $.post(url,{
           left:leftpx.replace("px",""),
           top:toppx.replace("px",""),
      });

     });

    $(".comment").mouseenter(function(){
      comment=$(this);
      popoverComment(comment);
    });



}
    </script>
    <script type="text/javascript" src="{{ asset('js/board.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('js/classie.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('js/modalEffects.js')}}" ></script>

</html><!-- all rights reserved ruspeena.com