<!DOCTYPE html>
<html lang="en">



<head>
    <link rel="icon" href="{{asset('pictures/icons/ruspinasmalllogo.png')}}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{asset('pictures/icons/ruspinasmalllogo.png')}}" type="image/x-icon" />
   
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}} ">
    <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script>    
    <title>My boards | {{app.user.profil.fullname}}</title>
</head>


<body>

  <div id="firstheader" style="color: rgb(51, 51, 54);padding-top: 20px;font-family:sans-serif;">  
{% if app.user %}
        <a href="/app_dev.php/home" style="margin-left: 7%;margin-top: 11px;margin-right: 20px;">
              <img id="home" src="{{asset('pictures/icons/home-small-black.png')}}" style="opacity:0.3;" />
              Home
        </a>
      <a id="Friend-requests" >
        <img src="{{asset('pictures/icons/flag-black.png')}}" style="opacity: 0.3;"/>
        Notifications
      </a>
      <div id="header">     
        {% include "soullifiedboardBundle:templates:UserMenuTemplate.html.twig" %}                    
        <input type="search" class="form-control search-input" placeholder="Search in soullified" style="margin-right: 5px;width: 170px;padding-left:28px;height: 30px;border-radius: 2px;">
        <img src="{{asset('pictures/icons/search-white.png')}}" style="opacity:0.5;position:absolute;right: 188px;top: 5px;">
        <img id="menu-icon" onClick="displayMainMenue()"                                    
              src="{{asset('pictures/icons/menu-icon.png')}}" 
              />          
        {%  endif %}
     
      </div>       
    </div>

<br>
<br>
<br>
<br>


 <div id="#side-main-menu"  class="side-main-menu">
            <ul class="logo-side" > 
              <li id="board-title2">
                   My boards
              </li>
            </ul>

            <a role=menuitem tabindex='-1' href="{{asset('profil/')}}{{app.user.profil.Id}}" >          
              <ul class="menu-primary-options" submenuId="1">
                  <div id="menuicon1" class="sosNeticonWhite ownericon"></div><span class="label-icon">Me</span>
              </ul>
            </a>
   
            <ul  class="menu-primary-options" submenuId="2" >
              <div id="menuicon2" class="sosNeticonWhite settingicon"></div><span class="label-icon">settings</span>
            </ul>


            <ul  class="menu-primary-options" submenuId="3" >
              <div id="menuicon3" class="sosNeticonWhite boardicon"></div><span class="label-icon">privacy</span>
            </ul>


            <ul  class="menu-primary-options" submenuId="4" >
              <div id="menuicon4" class="sosNeticonWhite commentsicon"></div><span class="label-icon">background</span>
            </ul>

            <a href="{{asset('addnewboard')}}">
              <ul  class="menu-primary-options" submenuId="5" >
                <div id="menuicon5" class="sosNeticonWhite plus-icon"></div><span class="label-icon">New board</span>
              </ul>
            </a>

            <ul>
              <div id="compress-menu" onClick="compressMenu()" class="sosNeticonWhite compressicon"> </div>
            </ul>
        </div>
    </div>



<div id="main-container">
      <div id="popular-boards" class="secondary-container">

        <div class="boards-container" id="grid" data-columns >


  {%  for board in app.user.profil.boards  %}
    {%  if board.url != null %}

        <div class="board">

      <a href="{{path('soullifiedprofil_showboard',{url:board.url})}}"  >
            {%  if board.isProfil==false %}
               <div class="board-title">{{board.title|slice(0,40)}} </div>
            {%  else %}
               <div class="board-title">{{board.profil.Fullname}} </div>
            {%  endif %}
                <hr>
                
            <div class="board-info">
              {%  if board.isProfil!=true %}
                  <div class="board-description">{{board.description|slice(0,400)}}</div>  
              {%  else %}
                  <div class="board-description">{{board.profil.about|slice(0,400)}}</div>
              {% endif %}
          
            <div class="likes-comments">  

                {%  if board.getIscommunity==true %}
                  <img class="small-community" src="{{asset('pictures/icons/small-public.png')}}">
                {%  else %}
                  {%  if board.isProfil==true%}
                  <img class="small-community" src="{{asset('pictures/icons/small-owner.png')}}">
                  {%  else %}
                  <img class="small-community" src="{{asset('pictures/icons/small-community.png')}}">
                  {%  endif %}
                {%  endif %}
              

                {% if board.likers|length != 0 %}
                 <img  src="{{asset('pictures/icons/like.png')}}"  class="like-buttons" style="opacity:0.7;margin-left:10px;cursor:default;">  
                  <span id="nbrOfComments">{{ board.likers|length}}</span>
                {%  endif %}
               
                {% if board.comments|length != 0 %}
                  <img  src="{{asset('pictures/icons/small-comment-black.png')}}"  class="like-buttons" style="opacity:0.3;margin-left:10px;cursor:default;">        
                  <span id="nbrOfComments">{{ board.comments|length}}</span>
                {%  endif %}
     
                </div>
              </a>

                <div class="controls-buttons">
                    <hr>
                    <button class="btn btn-sm btn-default"  >share</button>
                    {%  if board.getPinned == false and board.isprofil == false %}
                    <button href="{{path('soullifiedboard_set_pinned',{boardId:board.Id})}}" class="btn btn-sm btn-primary addprofil"  >add to profil</button> 
                    {% endif %}
                </div>
            </div>
        </div>


      {%  endif %}
           {% endfor %}
        </div>

      </div>

</div >
</div>
    </div> 



    <div id="footer" style="display:none;">
        Copyright © 2013 RuspeenA Inc. and respective owners. All rights reserved. <a  >  terms of use </a> <a >  privacy</a>
    </div>
    <style type="text/css">



    .input-lg{
        margin-bottom: 14px;
        display: none;
    }



      #grid[data-columns]::before {
        content: '4 .column.size-1of4';
      }

      /* These are the classes that are going to be applied: */
      .column { float: left; }
      .size-1of4{
       width: 20%;
       margin-left: 10px;
       }

      @media screen and (max-width: 480px){
        #grid[data-columns]::before {
          content: '1 .column.size-1of1';
        }
      }

      @media screen and (min-width: 481px) and (max-width: 700px) {
        #grid[data-columns]::before {
          content: '2 .column.size-1of2';
        }
      }
      @media screen and (min-width: 400px) {
        #grid[data-columns]::before {
          content: '3 .column.size-1of3';
        }
      }

      @media screen and (min-width: 400px) {
        #grid[data-columns]::before {
          content: '4 .column.size-1of4';
        }
      }


    body{
      background-color: #F5F5F5;
       }
    #firstheader{
      top: 0;
      width: 100%;
      z-index: 10;
      position: fixed;
      border: 1px solid #d7d7d7;
      background-color: white;
      min-height: 70px;
    }

    .board-background{
      width: 49%;
      margin-bottom: 1%;

    }

    .board-info{
      /*position: absolute;*/
      top: 10%;
      padding-top: 5px;
      /*border: 1px rgb(209, 209, 209) solid;*/
      height: 89%;
      width: 96%;
      background-color: rgba(255, 255, 255, 0.89);
      font-family: sans-serif;
 }

 .board-date{
  font-family: monospace;
  color: grey;
  font-size: 12px;
 }

  .board{
    background-color: white;
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    position: relative;
    opacity: 0.8;
    margin-left: 5px;
    margin-bottom: 10px;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .board:hover{
      opacity: 1;
     }

  .likes-comments{
    font-family: serif;
    font-size: 10px;
    color: grey;
    text-align: right;
    position: absolute;
    top: 8px;
    right: 10px;
  }


    .likes-comments img{
      height: 13px;
      margin-top: -2.5px;
    }

  .small-community{
    margin-right: -8px;
    height: 13px;
    opacity: 0.5;
  }

  .small-community:hover{
    opacity: 1;
  }
    .board-description{
      color: #ACACAC;
    }

    .boards-container{
      width: 100%;
      -webkit-border-bottom-right-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-collapse: separate;
      padding: 15px 20px;
     
    }

    .board-title{
      /*text-align: center;*/
      color: black;
      font-family: sans-serif;
      margin-bottom: -12px;
      font-weight: bold;
      font-size: 15px;
      margin-top: 20px;
    }
    #singupContainer{
        width: 730px;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
        -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
        box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
        border-collapse: separate;
        background-color: #fff;
        padding: 15px 20px;
        border: 1px solid #d7d7d7;
        margin-top: 70px;
        margin-left: 30px;
        background-color: #F5F5F5;
    }

    .form-control{                
        display: inline-block;
        width: 34%;
        height: 34px;
        margin-right: 12px;
        padding-left: 10px;
        box-shadow: 0 0 0.5px rgba(0,0,0,0.3);
        border: 1px solid #C9CED6;
    }

    .login-form{
        position: absolute;
        top: 15px;
        right: 20px;
        display: inline-flex;
    }


    .inputname{
        height: 80px;
        font-weight: 100;
        font-size: 60px;
        border-collapse: separate;
    }

    #footer{
        position: absolute;
        bottom: 0px;
        right: 0;
    }



    .sr-only{
      background-color: #B8CCFF;
    }

    .textarea{
      width: auto;
    }


    .dropdown{
      /*background-color: #B8CCFF;*/
      /*margin-right: -15px;*/
      position: absolute;
      right: 0px;
      margin-left: 21px;
      top: 0px;
    }
    .album{
      width: 100px;
      position: absolute;
      cursor: pointer;
      left: 566px;
      top: 160px;
    }

    #arrows{
      display: none;
    }


    .albumtitle{
      font-size: 46px;
      position: absolute;
      /*top: 448px;*/
      /*left: 372px;*/
      bottom: 50px;
      left: 10px;
      font-family: JennaSue;
    }

    .albumphotos{
      -webkit-transform: rotate(0deg);
      padding: 7px;
      /*padding-bottom: 73px;*/
      height: 220px;
      border-radius: 0px;
      box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.6), 0 0 20px 1px rgba(255, 255, 255, 0.5);
    }


    #slider{
       display: inline-block;
       width: 134%;
       cursor:pointer;
       margin-left: -37px;
    }
    #rotate
    {
       width: 40%;
       cursor:pointer;
    }
     #right-side-menue{
        position: fixed;
        height: 78%;
        top: 70px;
        width: 5%;
        background-color: black;
      }

    #comment-container{
        display: none;
        width: 500px;
        position: absolute;
        top:200px;
        left: 300px;
        background-color: rgba(122, 122, 122, 0.37);
        box-shadow: 0 5px 12px -1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
      }


     body{
      height: 100%;

     }

     .secondary-container{
      margin-left: 10%;
      margin-top: 80px;
     }


     #lifetrack{
      display: inline-block;
      margin-top: -25px;
      vertical-align: -15px;
     }

    #slider-container{
      margin: 0 auto;
      padding: 14px;
      padding: 20px00 0;
      opacity: 0.8;
      position: absolute;
      margin-top: -77px;
      box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
    }

    .comment{
        cursor: default;
        max-width: 500px;
    }
.popover-content{
      text-align: center;
    }
  
    .menu_item{
      margin-right: 25px;
    }

    .popover.right .arrow:after{
      border-right-color: #f7f7f7;
    }

    .popover.left .arrow:after{
      border-left-color: #f7f7f7;
    }

    a{
      cursor: pointer;
    }

    #comment-form-header{
      background-color: rgba(255, 255, 255, 0.38);
      width: 100%;
      padding-left: 10px;
    }

    #comment-form-header ul{
      list-style-type: none;
      font-size: 16px;
      font-weight: bold;
      min-width: 134px;
      margin-bottom: 0px;
      margin-top: 0px;
      display: inline-block;
    }


    #comment-form-header ul:hover{
      background-color: white;
    }
    #font-selector{
      display: inline-block;
      height: 28px;
      margin-left: -39px;
      line-height: 28px;
      border: 1px solid #aaa;
      padding: 4px;
      color: #555;
    }

    .send-frequest{
      background-color:rgb(226, 255, 199);
    }

    .send-frequest:hover{
      background-color: rgb(195, 255, 139);
    }

.not-date {
  position: absolute;
  right: 7px;
  font-size: 10px;
  bottom: 3px;
  color: #BBB7B7;
}

    #myname{
      text-decoration: none;
      font-size: 21px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      cursor: pointer;
    }

    #myname:hover{
      opacity: 1;
    }
    .description{
      min-height: 170px;
    }

    .modal-body input{
      width: 50%;
    }


    .modal-body{
      background-color: #F7F7F7;
      margin-bottom: -15px;
      padding-top: 2%;
      width: 60%;
      margin-left: 19%;
    }

    .modal-footer{
      width: 60%;
      margin-left: 19%;
    }
    .side-main-menu{
      display: none;
      z-index: 11;
      -webkit-box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 19px -1px rgba(0, 0, 0, 0.1);
      -webkit-transition: width 0.25s;
      -moz-transition: width 0.25s;
      -ms-transition: width 0.25s;
      -o-transition: width 0.25s;
      transition: width 0.25s;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      background: #191B1F;
      bottom: 0;
      position: fixed;
      top: 0;
      width: 240px;
      height: 100%;
      box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.6), 0 0 20px 1px rgba(255, 255, 255, 0.5);
    }

    #main-menu-dropdown{
      font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 15px;
      right:0px;
      left: inherit;
    }

    .sosNeticonWhite {
      display: inline-block;
      width: 45px;
      vertical-align: -17px;
      height: 45px;
      background-image: url("{{asset('pictures/icons/transparent-preview.png')}}");
      transition-property:background-image;
      transition-duration: 0.5s;
    }

    .sosNeticonBlack {
      display: inline-block;
      width: 45px;
      vertical-align: -17px;
      height: 45px;
      background-image: url("{{asset('pictures/icons/transparent-preview-black.png')}}");
      transition-property:background-image;
      transition-duration: 0.5s;
    }


    .smallSosNeticonBlack {
      display: inline-block;
      width: 45px;
      vertical-align: -17px;
      height: 45px;
      background-image: url("{{asset('pictures/icons/transparent-preview-black.png')}}");
      transition-property:background-image;
      transition-duration: 0.5s;
    }


    .sosNeticonWhite:hover{
      background-image: url("{{asset('pictures/icons/transparent-preview-black.png')}}");
    }

    .settingicon {
      background-position:-154px -120px;
    }

    .boardicon {
      background-position: -154px -550px;
    }

    .ownericon {
      background-position: -924px -1390px;
    }

    .commentsicon{
     background-position:  186px -301px;
    }
    .likeicon{
      background-position: 0px -180px;
    }

    .unlikeicon{
      background-position: 0px -180px;
    }
    .compressicon{
      background-position: 261px 474px;
    }

    #compress-menu{
      margin-left: 0px;
      position: absolute;
      bottom: 0px;
      right: -8px;
      cursor: pointer;
    }


    .menu-primary-options{
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      height: 50px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 15px;
      font-weight: bold;
      color: white;
      cursor: pointer;
      background-color: #1f2228;
      border-top: 1px solid #262930;
      border-bottom: 1px solid #191b1f;
      text-transform: uppercase;
    }

    .menu-primary-options:hover{
        background-color: #f2f6f7;
        border-color: #f2f6f7;
        color: #5a6273;
     }

    .menu-primary-options li{
      display: none;
    }

    .submenu{
      background: #f2f6f7;
      bottom: 0;
      color: #494f5b;
      height: 100%;
      left: 60px;
      padding: 0;
      position: absolute;
      top: 0;
      width: 180px;
      z-index: 10;
    }

    a:hover{
      text-decoration:inherit;
    }

    .logo-side{
      font-size: 26px;
      color: white;
      text-align: center;
      margin-left: -50px;
      margin-top: 40px;
      min-height: 70px;
      list-style:none;

    }

    .submenu-header{
      background: transparent;
      border-bottom: 1px solid white;
      min-height: 173px;
      padding: 1px 20px;
      margin-bottom: 0px;
      width: auto;
    }


    .submenu-header:hover{
      background-color: white;
    }


    .submenu-header p{
      color: #a8adb0;
      font-weight: none;
      font-size: 12px;
      line-height: 16px;
      margin: 18px 0 0 0;
      padding: 0;
      width: auto;
    }


    .submenu-item{
      display: flex;
      background: transparent;
      border-bottom: 1px solid white;
      min-height: 100px;
      min-height: 85px;
      padding: 18px 14px;
      width: auto;
      font-size: 16px;
      cursor: pointer;
    }

    .submenu-item:hover{
      background-color: white;
    }


    .submenu-icons{
      margin-right: 10px;
       display: inline-block;
      width: 60px;
      vertical-align: -17px;
      height: 45px;
      background-image: url("{{asset('pictures/icons/transparent-preview-black.png')}}");
    }

    .comment-icon{
        background-position: -233px -550px;
    }

    .plus-icon{
    background-position: 802px -427px;
    }

    .plus-icon{}
    .everyone-icon{
      background-position: -63px -899px;
    }

    .onlyme-icon{
      background-position: -835px -494px;
    }
    .friends-icon{
      background-position:-760px -490px;
    }
    .message-icon{
      background-position: -693px -304px;
    }

    .song-icon{
      background-position:  -1033px -1205px;
    }

    .photo-icon{
     background-position:  417px -1984px;
    }

    .join-icon{
     background-position:  -80px 346px;
    }


    .background-icon{
     background-position: -154px 164px;
    }

    #header{
      top:20px;
      padding-left:2px;
      width: auto;
      margin-right: 0px;
      right: 0px;
      padding-left:8px;
      position: absolute;
   }


    .small-menu-icons{
      display: none;
      position: absolute;
      top: 2px;
      right: 4px;
      height: 19px;
      width: 65px;
      background-color: rgba(255, 255, 255, 0.58);
    }

    .small-menu-icons img{
      cursor: pointer;
      padding-left: 3px;
      opacity:0.5;
    }

    .small-menu-icons img:hover{
      opacity:1;
    }

    .arrow-prview{
      display: inline;
      margin-left: 3px;
      border:1px solid;
    }

    .comment-only{
      position: absolute;
      left: 71%;
      top: 6px;
      opacity: 0.8;
      cursor:pointer;
    }


    #color-select-frame{
      margin-left: -34px;
    }


    #color-select-frame button{
      width: 20px;
      height: 20px;

    }
    .comment-only:hover{
      opacity: 1;
    }

    .notification{
      position: relative;
      color: black;
      box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.5);
      margin-bottom: 8px;
      padding: 6px;
      padding-left: 10px;
      padding-right: 5px;
      line-height: 1.428571429;
      background-color: #fff;
      display: block;
    }

    .songnot{
      font-size: 20px;
      color: grey;
      font-weight: 100;
      background-color: #F7F7F7;
    }

    .nothover{ 
      padding-right: 10px;
      cursor: pointer;
    }

    .notiseen{
      background-color: #E9E9E9;
    }

    .nothover:hover{
      background-color: #E9E9E9;
    }

    .like{
      margin-left: 123px;
      margin-right: 6px;
      background-color: #EDF8EC;
    }

    #header img:hover{
      opacity: 1;
    }

    .like:hover{
      background-color: #C4DBC2;
    }
    .unlike{
      background-color: #F8ECEC;
    }

    .unlike:hover{
      background-color: #DBC2C2;
    }

    #header .popover .popover-title{
      padding-right: 10px;
    }

    #dropdownconfig{
      position: absolute;
      right: 36%;
    }

    .message-content{
      /*margin-right: 5px;*/
      color: #A2A2A2;
    }

    .rotate-buttons{
      margin-top: 20px;
    }
    .comment-owner{
      margin-right: 5px;
      font-weight: bold;
    }

    slider a{
      display: none;
    }

    .modal-body input{
      margin-bottom: 10px;
    }

    .message-area{  
      width: 536px;
      min-height: 247px;
    }

    #board-owner{
      font-family: comesinhandy;
      color: black;
      margin-left: 30px;
    }

    .controls-buttons{
      display: none;
      text-align: right;
    }

    .alert {
        width: 200px;
        background-color: black;
        background-color: rgba(30, 30, 30, 0.9);
        text-shadow: 1px 1px black;
        color: #eee;
        padding-left: 65px;
        box-shadow: 4px 3px 15px rgba(0,0,0,0.9);
        border: 0;
        background-repeat: no-repeat;
        background-position: 15px 50%;
        display: none;
        z-index: 1000;
    }
     
    .alert .close {
        color: white;
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 1px 0 #000;
        opacity: 1;
    }


    #board-tools-menue img{
      cursor: pointer;
      height: 25px;
    }


#menu-icon{
    cursor: pointer;
    height: 25px;
    margin-right: 10px;
    margin-top: -4px;
    opacity: 0.4;
    }
.comment-thumbnail
  {
      background-color: white;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 7px;
      right: 10px;
      max-height: 80px;
      max-width: 100px;
  }
#menu-icon{
    cursor: pointer;
    height: 25px;
    margin-right: 10px;
    margin-top: -4px;
    opacity: 0.4;
    }

.menu-hr
{
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}
#header
{
  top: 20px;
  padding-left: 2px;
  width: auto;
  margin-right: 0px;
  right: 0px;
  padding-left: 8px;
  position: absolute;
}
    #board-tools-menue img{
      cursor: pointer;
      height: 25px;
    }

.popover{
  min-width: 300px;
border-radius: 0px;
}
        .dropdown{
          position: absolute;
          right: 0px;
          margin-left: 21px;
          top: 0px;
        }


        .dropdown-menu{
          z-index: 20;
        }


.controls input{
  font-size: 15px;
  width: 100%;
}


</style>
   
<script type="text/javascript">
   
  
function acceptRequest(requestId){
  //faut que ca soit securisé il faut que on verif a partit du controlleur
  $('div[notificationId='+requestId+']').fadeOut();


      var url="{{ asset('acceptfrequest/') }}";
      url=url+requestId;

   $.get(url,
        function(data){   
           //the response is in the data variable
            if(data.responseCode==200 ){
                      
            
            }
           else if(data.responseCode==400){//bad request
              
              
           }
           else{
              //if we got to this point we know that the controller
              //did n
             // return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              //alert("An unexpeded error occured.");

           }
         }
       );


}


function cancelRequest(requestId){
  //faut que ca soit securisé il faut que on verif a partit du controlleur
  $('div[notificationId='+requestId+']').fadeOut();

      var url="{{ asset('declinerequest/') }}";
      url=url+requestId;

   $.get(url,
        function(data){   
           //the response is in the data variable
            if(data.responseCode==200 ){
                      
            
            }
           else if(data.responseCode==400){//bad request
              
              
           }
           else{
              //if we got to this point we know that the controller
              //did n
             // return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              //alert("An unexpeded error occured.");

           }
         }
       );


}





   





















 //-------------------------------------------------------------------------------------------------------------
var Friendevents="";
function getEvents(){

       $.get("{{ path('get_ajax_requests')}}", //replace it with the secssion
        function(data){   
           //the response is in the data variable
            if(data.responseCode==200 ){
                  
           
                 Friendevents=data.htmlcode;
                 $("#Friend-requests").popover({title:function() {
                  
                  return Friendevents;                        
                                                                      },content:"",html:true,placement:"bottom"});
                 


        
            }
           else if(data.responseCode==400){//bad request
              
              
           }
           else{
              //if we got to this point we know that the controller
              //did n
             // return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              //alert("An unexpeded error occured.");

           }
         }
       );

}

//--------------------------------------------------------------------------------------------------------------

var Fmessages="";
function getMessages(){

       $.get("{{ path('get_ajax_messages')}}", //replace it with the session
        function(data){   
           //the response is in the data variable
            if(data.responseCode==200 ){
                  
           
                 Fmessages=data.htmlcode;
                 $("#messages").popover({title:function() {
                  
                  return Fmessages;                        
                                                                      },html:true,placement:"bottom"});
                 


        
            }
           else if(data.responseCode==400){//bad request
              
              
           }
           else{
              //if we got to this point we know that the controller
              //did n
             // return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              //alert("An unexpeded error occured.");

           }
         }
       );

}



//var intervall=setInterval(getEvents,7000);
 getEvents();
 getMessages();

$("#Friend-requests").mouseenter(function(){
  getEvents();
});

$("#messages").mouseenter(function(){
 getMessages();
});





$('.lightbox').mouseenter(function(){

  $(this).parent().find('span').fadeIn();

});

// $('.lightbox').mouseout(function(){

//   $(this).parent().find('span').fadeOut(2000);

// });

function checkunseen(){
        var url="{{asset('events/getunseen')}}";
       $.get(url,function(data){   
           //the response is in the data variable
            if(data.responseCode==200 ){
              var unseenmessages=data.unseenmessages; 
              var unseenevents=data.unseenevents;
              if(unseenmessages>0) {
                $("#messages").attr("src","{{asset('pictures/icons/chat-small-red.png')}}").css('opacity','1');
                getMessages();
              }
              else $("#messages").attr("src","{{asset('pictures/icons/chat-small-black.png')}}").css('opacity','0.1');

             if(unseenevents>0) {
              $("#Friend-requests").attr("src","{{asset('pictures/icons/flag-red.png')}}").css('opacity','1');
              getEvents();
             }
             else $("#Friend-requests").attr("src","{{asset('pictures/icons/flag-black.png')}}").css('opacity','0.1');
            
            }
           else if(data.responseCode==400){//bad request
              
                
           }
           else{
              //if we got to this point we know that the controller
              //did not return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              //alert("An unexpeded error occured.");

           }
       });//It is silly. But you should not write 'json' or any thing as the fourth parameter. It should be undefined. I'll explain it futher down
}

$("#messages").click(function(){
  $(this).attr("src","{{asset('pictures/icons/chat-small-black.png')}}").css('opacity','0.3');
  $.get("events/messagesseen");
})


$("#Friend-requests").click(function(){
  $(this).attr("src","{{asset('pictures/icons/flag-black.png')}}").css('opacity','0.3');
  $.get("events/eventsseen");
})


checkunseen();
var intervall=setInterval(checkunseen,5000);


function displayMainMenue(){
  $("#main-menu-dropdown").fadeIn();
  $("#myname").attr("onClick","hideMainMenue()");
}

function hideMainMenue(){
  $("#main-menu-dropdown").fadeOut();
  $("#myname").attr("onClick","displayMainMenue()");
}


  $(".jp-play").tooltip({title:"Play Song",placement:"bottom"});
  $(".jp-pause").tooltip({title:"Pause Song",placement:"bottom"});




 function compressMenu(){
    $(".side-main-menu").animate({width: "60px"}, 200);
    $("#board-title2").fadeOut(10);
    $(".label-icon").fadeOut(10);
    $(".sosNeticonWhite").animate({"margin-left": "-30px"}, 100);
    $(".submenu").css("display","none");
    menucompressed=true;
    $("#compress-menu").attr("onClick","uncompressMenu()");
    $("#compress-menu").css("background-position","341px 474px");


    $.get("{{ path('soullifiedprofil_change_board_compress')}}",{compress:true}, //replace it with the secssion
        function(data){   
           //the response is in the data variable
            if(data.responseCode==200 ){
        
            }
           else if(data.responseCode==400){//bad request
           }
           else{
              //alert("An unexpeded error occured.");
           }
         }
       );



  }

  function uncompressMenu(){
        $(".side-main-menu").animate({width: "240px"}, 200);
        $(".sosNeticonWhite").animate({"margin-left": "0px"}, 100);
        $(".label-icon").delay(350).fadeIn();
        $("#board-title2").delay(350).fadeIn();
        menucompressed=false;
        $("#compress-menu").attr("onClick","compressMenu()");
        $("#compress-menu").css("background-position","261px 474px");
  



    $.get("{{ path('soullifiedprofil_change_board_compress')}}",{compress:false}, //replace it with the secssion
        function(data){   
           //the response is in the data variable
            if(data.responseCode==200 ){
        
            }
           else if(data.responseCode==400){//bad request
           }
           else{
              //alert("An unexpeded error occured.");
           }
         }
       );
  }


  {% if app.user.profil.menuboardcompressed %} 
   compressMenu()
  {% endif %}




  $(".menu-primary-options").mouseenter(function(){

    // $(".side-main-menu").animate({width: "60px"}, 200);
    // $("#board-title2").fadeOut(10);
    // $(".label-icon").fadeOut(10);
    // $("#likesunlikes").fadeOut(10);
    // $(".sosNeticonWhite").animate({"margin-left": "-30px"}, 100);
    var focusId=$(this).attr("submenuId");
  

    // $(".submenu").css("display","block");
    // $("#submenu1").css('z-index','10');
    // $("#submenu2").css('z-index','10');
    // $("#submenu3").css('z-index','10');
    // $("#submenu4").css('z-index','10');
    // $("#submenu5").css('z-index','10');
    // $("#submenu"+focusId).css('z-index','11');
    
    iconclass=$("#menuicon1").attr("class");
    if(iconclass!=null)
    $("#menuicon1").attr("class",iconclass.replace("Black","White"));

    iconclass=$("#menuicon2").attr("class");
    if(iconclass!=null)
    $("#menuicon2").attr("class",iconclass.replace("Black","White"));

    iconclass=$("#menuicon3").attr("class");  
    if(iconclass!=null)
    $("#menuicon3").attr("class",iconclass.replace("Black","White"));

    iconclass=$("#menuicon4").attr("class");  
    if(iconclass!=null)
    $("#menuicon4").attr("class",iconclass.replace("Black","White"));

    iconclass=$("#menuicon5").attr("class");  
    if(iconclass!=null)
    $("#menuicon5").attr("class",iconclass.replace("Black","White"));


    iconclass=$("#menuicon"+focusId).attr("class");
    $("#menuicon"+focusId).attr("class",iconclass.replace("White","Black"));
    // alert(focusId);
  
    
    $(".menu-primary-options").css("background-color","rgb(31, 34, 40)");
    $(this).css("background-color","#f2f6f7")

});



$("#side-main-menu-container").mouseleave(function(){

    var iconclass=$("#menuicon1").attr("class");  
    if(iconclass!=null)
    $("#menuicon1").attr("class",iconclass.replace("Black","White"));
  
    iconclass=$("#menuicon2").attr("class");  
    if(iconclass!=null)
    $("#menuicon2").attr("class",iconclass.replace("Black","White"));

    iconclass=$("#menuicon3").attr("class");  
    if(iconclass!=null)
    $("#menuicon3").attr("class",iconclass.replace("Black","White"));

    iconclass=$("#menuicon4").attr("class");  
    if(iconclass!=null)
    $("#menuicon4").attr("class",iconclass.replace("Black","White"));

    iconclass=$("#menuicon5").attr("class");  
    if(iconclass!=null)
    $("#menuicon5").attr("class",iconclass.replace("Black","White"));

    $(".menu-primary-options").css("background-color","#1f2228");

    // if(menucompressed==false){
    //     $(".side-main-menu").animate({width: "240px"}, 200);
    //     $(".sosNeticonWhite").animate({"margin-left": "0px"}, 100);
    //     $(".label-icon").delay(350).fadeIn();
    //      $("#likesunlikes").delay(350).fadeIn();
    //     $("#board-title2").delay(350).fadeIn();
    // }
    // else $(".submenu").fadeOut();
   


});

$("div[class='board']").mouseenter(function(){
    $(this).find("div[class='controls-buttons']").fadeIn();
})

$("button[class='btn btn-sm btn-primary addprofil']").click(function(){

       var button=$(this)
       var url=$(this).attr("href");
       $.get(url, //replace it with the secssion
        function(data){   
           //the response is in the data variable
            if(data.responseCode==200 ){
            
                   button.fadeOut();

        
            }
           else if(data.responseCode==400){//bad request
              
              
           }
           else{
              //if we got to this point we know that the controller
              //did n
             // return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              //alert("An unexpeded error occured.");

           }
         }
       );

})


function displayMainMenue(){
  $("#main-menu-dropdown").fadeIn();
  $("#myname").attr("onClick","hideMainMenue()");
}

function hideMainMenue(){
  $("#main-menu-dropdown").fadeOut();
  $("#myname").attr("onClick","displayMainMenue()");
}

</script>

<script type="text/javascript" src="{{ asset('js/salvattore.min.js') }}" ></script> 

</body>

</html><!-- all righs reserved RuspeenA.com