.myboard-title{
  color: black;
  font-family: sans-serif;
  margin-bottom: 3px;
  font-weight: bold;
  margin-top: 3px;
  font-size: 15px;
}

.myboard-description{
  color: #ACACAC;
}

.likes-comments{
  font-family: serif;
  font-size: 10px;
  color: grey;
  text-align: right;
  position: absolute;
  top: 5px;
  right: 15px;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{asset('pictures/icons/soullifiedsmalllogo.png')}}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{asset('pictures/icons/soullifiedsmalllogo.png')}}" type="image/x-icon" />       
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>


<body>

<div id="main">
      <div id="popular-boards" class="secondary-container">

        <div class="boards-container" id="grid" data-columns >
  {%  for board in app.user.profil.boards  %}
    {%  if board.url != null %}

        <div class="board">

      <a href="{{path('soullifiedprofil_showboard',{url:board.url})}}"  >
            {%  if board.isProfil==false %}
               <div class="myboard-title">{{board.title|slice(0,40)}} </div>
            {%  else %}
               <div class="myboard-title">{{board.profil.Fullname}} </div>
            {%  endif%}

            <hr>
            {%  if board.preview %}

              <img class="myboards-background" style="display:inline-table;width: 100%;" src="{{asset('web/uploads/tmp/screens/'~board.Id)}}.jpg">
            {%  elseif board.albums|length != 0 %}

              {%  for album in board.albums |slice(0,4) %}
               {% for photo in album.photos %}
                  <img class="myboards-background" style="display:inline-table" src="{{asset('web/uploads/tmp/attachments/'~album.folder~'/medium/'~photo.url)}}">
                
                 {%  endfor %}
              {% endfor %}
              
            {%  elseif board.coverUrl %}      
                <img class="myboards-background" style="display:inline-table;width: 100%;" src="{{asset('pictures/icons/ghosmosblack.png')}}">
            {%  else %}
                <img class="myboards-background" style="display:inline-table;width: 100%;" src="{{asset('pictures/icons/ghosmosblack.png')}}" style="height:110px;">
            {%  endif %}
          
          
            <div class="myboard-info">
              {%  if board.isProfil!=true %}
                  <div class="myboard-description">{{board.description|slice(0,400)}}</div>  
              {%  else %}
                  <div class="myboard-description">{{board.profil.about|slice(0,400)}}</div>
              {% endif %}
          
            <div class="likes-comments">  

                {%  if board.getIscommunity==true %}
                  <img class="mysmall-community" src="{{asset('pictures/icons/small-public.png')}}">
                {%  else %}
                  {%  if board.isProfil==true %}
                  <img class="mysmall-community" src="{{asset('pictures/icons/small-owner.png')}}">
                  {%  else %}
                  <img class="mysmall-community" src="{{asset('pictures/icons/small-community.png')}}">
                  {%  endif %}
                {%  endif %}
              

                {% if board.likers|length != 0 %}
                 <img  src="{{asset('pictures/icons/like.png')}}"  class="like-buttons" style="opacity:0.7;margin-left:10px;cursor:default;">  
                  <span id="nbrOfComments">{{ board.likers|length}}</span>
                {%  endif %}
               
                {% if board.comments|length != 0 %}
                  <img  src="{{asset('pictures/icons/small-comment-black.png')}}"  class="like-buttons" style="opacity:0.3;margin-left:10px;cursor:default;">        
                  <span id="nbrOfComments">{{ board.comments|length}}</span>
                {%  endif %}
     
                </div>
              </a>

                <div class="controls-buttons">
                    <hr>
                    <button class="btn btn-sm btn-default"  >share</button>
                    {%  if board.getPinned == false and board.isprofil == false %}
                    <button href="{{path('soullifiedboard_set_pinned',{boardId:board.Id})}}" class="btn btn-sm btn-primary addprofil"  >add to profil</button> 
                    {% endif %}
                </div>
            </div>
        </div>


      {%  endif %}
           {% endfor %}

        </div>

      </div>

</div >
</div>
    </div> 

    <style type="text/css">



      #grid[data-columns]::before {
        content: '4 .column.size-1of4';
      }

      /* These are the classes that are going to be applied: */
      .column { float: left; }
      .size-1of4{
       width: 20%;
       margin-left: 10px;
       }

      @media screen and (max-width: 480px){
        #grid[data-columns]::before {
          content: '1 .column.size-1of1';
        }
      }

      @media screen and (min-width: 481px) and (max-width: 700px) {
        #grid[data-columns]::before {
          content: '2 .column.size-1of2';
        }
      }
      @media screen and (min-width: 480px) {
        #grid[data-columns]::before {
          content: '3 .column.size-1of3';
        }
      }


      @media screen and (min-width: 480px) {
        #grid[data-columns]::before {
          content: '4 .column.size-1of4';
        }
      }

#firstheader{
      top: 0;
      width: 100%;
      z-index: 10;
      position: fixed;
      border: 1px solid #d7d7d7;
      background-color: white;
      min-height: 70px;
    }

.myboards-background{
      width: 49%;
      margin-bottom: 1%;

    }

.myboard-info{
      /*position: absolute;*/
      top: 10%;
      padding-top: 5px;
      /*border: 1px rgb(209, 209, 209) solid;*/
      height: 89%;
      width: 96%;
      background-color: rgba(255, 255, 255, 0.89);
      font-family: sans-serif;
 }

 .myboard-date{
  font-family: monospace;
  color: grey;
  font-size: 12px;
 }

  .board{
    background-color: white;
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    position: relative;
    opacity: 0.8;
    margin-left: 30%;
    margin-bottom: 10px;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .board:hover{
      opacity: 1;
     }

  .likes-comments{
    font-family: serif;
    font-size: 10px;
    color: grey;
    text-align: right;
    position: absolute;
    top: 8px;
    right: 10px;
  }


    .likes-comments img{
      height: 13px;
      margin-top: -2.5px;
    }

  .mysmall-community{
    margin-right: -8px;
    height: 13px;
    opacity: 0.5;
  }

  .mysmall-community:hover{
    opacity: 1;
  }
    .myboard-description{
      color: #ACACAC;
    }

    .boards-container{
      width: 100%;
      -webkit-border-bottom-right-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-collapse: separate;
      padding: 15px 20px;
     
    }

    .myboard-title{
      /*text-align: center;*/
      color: black;
      font-family: sans-serif;
      margin-bottom: -12px;
      font-weight: bold;
      font-size: 15px;
      margin-top: 20px;
    }

</style>

   
<script type="text/javascript">
   

</script>

<script type="text/javascript" src="{{ asset('js/salvattore.min.js') }}" ></script> 

</body>

</html><!-- all righs reserved RuspeenA.com