<div class="row">

  <span class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 sub-container new-board-preview" >

  <div class="row">
    <span class="col-md-1 col-sm-1 col-xs-1 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 " >
      <div><span style="font-family: sans-serif;margin-right: 15px;margin-left: 10px;">Username:</span>{{app.user.username}}</div>
      <br>
      <div><span style="font-family: sans-serif;margin-right: 45px;margin-left: 10px;">Email:</span>{{app.user.Email}}</div>
    </span>


    <span class="col-md-5 col-sm-5 col-xs-5 col-md-offset-6 col-sm-offset-6 col-xs-offset-6" >
      <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(formProfil) }} method="POST" class="fos_user_profile_edit">
        {{ form_widget(formProfil) }}
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    </span>

  </div>



  <span class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
    <hr>
    <div><span style="font-family: sans-serif;margin-right: 45px;">Password</span></div>
    <br>
    <a href="{{ path('fos_user_change_password') }}">change password</a>
  </span>


  <span class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
    <hr>
    <div><span style="font-family: sans-serif;margin-right: 45px;">About me:</span></div>
    <br>
    <textarea class="form-control" style="width:100%;min-height:40%"></textarea>
  </span>

  <span class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" style="text-align:center;" >
    <hr>
  <span class="col-md-6 col-sm-6 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 " >
    <img id="profilpicthumb" class="avatar" style="opacity:1;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);border: #DDDADA 1px solid;"
        src="{{app.user.profil.ProfilPictureBig}}" />
    <a href="/home#/chooseavatar"><h4>Change Avatar</h4></a>
  </span>

    
  </span>
</span>

</div> 



<style type="text/css">
#fos_user_profile_form_username, #fos_user_profile_form_email, #fos_user_profile_form_current_password
{
  margin-bottom: 15px;
  display: block;
  padding-left: 10px;
}
.large-form{
  width: 100%;
}
label
{
  display: none;
}

.new-board-preview{
  line-height: 1.42857143;
  background-color: #fff;
  border: 0px;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid rgb(219, 219, 219);
}

</style>

<script type="text/javascript">

  $(document).ready(function(){
    $("input").attr("class","form-control large-form");
    $("a[href='/logout']")[1].parentElement.style.display="none";
  })


</script>
