<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="icon" href="{{asset('pictures/icons/soulicon.ico')}}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{asset('pictures/icons/soulicon.ico')}}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}} ">
    <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('components/webcomponentsjs/webcomponents.js')}}"></script>
    <link rel="import" href="{{ asset('components/core-icons/social-icons.html')}}">
    <link rel="import" href="{{ asset('components/core-scaffold/core-scaffold.html')}}">
    <link rel="import" href="{{ asset('components/core-header-panel/core-header-panel.html')}}">
    <link rel="import" href="{{ asset('components/paper-tabs/paper-tabs.html')}}">
    <link rel="import" href="{{ asset('components/paper-input/paper-input.html')}}">
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script>    
    <title>{%if 'souller' in url('render_home_page') %}Souller - Life According to You{% else %}ScribblerParty - Your Digital Scrapbook{%  endif %} </title>
</head>
<body>
<core-header-panel id="lol"  navigation flex  mode="waterfall" >
      <core-toolbar id="core_toolbar">
        <img id="soullogo" src="/pictures/icons/soullogominiwhite.png" style="cursor:pointer;height: 52px;opacity: 1;color:white;margin-right:-7px;">      
        <a style="
          color:white;
          font-size: 20px;
          font-family: OpenSans-Light;
          font-weight: bold;" hreg="/">
        {%if 'souller' in url('render_home_page') %}
          Soul
            <span style="font-weight: normal;margin-left: -5px;">Ler
        {%  else %}
          Scribbler
            <span style="font-weight: normal;margin-left: -5px;">Party
        {%  endif %}
          </span>
         </a>   
          <div flex></div>
      </core-toolbar>
      <div class="container" layout vertical center>
        <div id="container" style="margin-right:50px;margin-top:10px;">
          <form method="POST">
            <span class="col-md-5 col-sm-7 col-xs-11 col-md-offset-1 col-sm-offset-3 col-xs-offset-1"  style="font-family: OpenSans-Light;min-height: 380px;-webkit-border-bottom-right-radius: 4px;-webkit-border-bottom-left-radius: 4px;-moz-border-radius-bottomright: 4px;-moz-border-radius-bottomleft: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;padding: 15px 20px;margin-top:-20px;padding-top:20px;">
            <h1 style="margin-bottom:30px;margin-top: 5px;">Account Detail</h1>
            <span id="email-exist" style="font-family:sans-serif;display:none;color: red;position: absolute;right: 28px;font-size: 12px;">Email exist!!</span>
            <span id="username-exist" style="font-family:sans-serif;display:none;color: red;position: absolute;margin-top:60px;right: 28px;font-size: 12px;">Username exist!!</span>
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
          </span>
          <span class="col-md-5 col-sm-7 col-xs-11 col-md-offset-1 col-sm-offset-3 col-xs-offset-1
          "  style="font-family: OpenSans-Light;min-height: 412px;border-top: 1px solid rgba(221, 213, 213, 0.46);">
            <h1 style="font-family:OpenSans-Light;margin-right:-170px;margin-bottom:20px;margin-top: 5px;">Profil Details</h1>                      
      <input type="text" name="displayname" class="form-control" style="width: 65%;" placeholder="Display name" >
      <textarea id="aboutme" class="form-control" name="bio" placeholder="About me"></textarea>   
      <input name="hiddennconfirm"  type="hidden" value="1">
      <input id="signup" type="submit" disabled="true" style="width: 100%;position: absolute;bottom: 0;left: 0;height: 39px;color: #fff;background-color:#3276b1;border-color: #285e8e;box-shadow: none;margin-bottom: 9px;border-radius: 3px;font-size: 22px;box-shadow: 0 1px 3px rgba(0, 0, 0, .50);border: 0;"  value="Singn up">
    </span>
   </form>
</div>
</div>
</core-header-panel>
    <style type="text/css">

    body{
      background-color: #F5F5F5;
    }
    
    .input-lg{
        margin-bottom: 14px;
        display: none;
    }

    core-header-panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    a{
      color: white;
      text-decoration: initial;
    }

    a:focus
    {
      text-decoration: initial;
    }

    paper-tabs ::shadow #selectionBar{
      background-color: white;
    }


    core-toolbar {
      {%if 'souller' in url('render_home_page') %}
      background-color: #4875AD;
      {% else %}
      background-color: #03a9f4;
      {%  endif %} 
      color: white;
    }

  #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
  }


    @font-face{
        font-family:OpenSans-Light;
        src:url("{{asset('fonts/OpenSans-Light.ttf')}}");
    }


    #header{
        position: fixed;
        z-index: 100;
        background-color: #F5F5F5;
        min-height: 70px;
        width: 100%;
    }

    #singupContainer{
        font-family: OpenSans-Light;
        width: 35%;
        min-height:380px;
        display: inline-flex;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-collapse: separate;
        background-color: #fff;
        padding: 15px 20px;
        border: 1px solid #d7d7d7;
        margin-top: 5%;
        margin-left: 30px;
        background-color: #F5F5F5;
    }

    .form-control{                
        display: inline-block;
        width: 100%;
        height: 34px;
        margin-bottom: 25px;
        margin-right: 12px;
        padding-left: 10px;
        box-shadow: 0 0 0.5px rgba(0,0,0,0.3);
        border: 1px solid #C9CED6;
    }

    .login-form{
        position: absolute;
        top: 15px;
        right: 20px;
        display: inline-flex;
    }


    textarea{
    	min-height: 180px;
        padding-top: 15px;
	 }


    .inputname{
        height: 80px;
        font-weight: 100;
        font-size: 60px;
        font-family: OpenSans-Light;
        border-collapse: separate;
    }

    #footer{
        display: none;
        position: absolute;
        bottom: 0px;
        right: 0;
    }


    #fos_user_registration_form_email, #fos_user_registration_form_username,#fos_user_registration_form_plainPassword_first,#fos_user_registration_form_plainPassword_second{

    	/*display: inline-block;
		width: 110%;*/
		width: 100%;
    border-radius: 5px;
    height: 34px;
		/*margin-right: 12px;*/
		padding-left: 10px;
		margin-bottom: 25px;
		box-shadow: 0 0 0.5px rgba(0,0,0,0.3);
		border: 1px solid #C9CED6;
    }

    label{
    	display: none;
    }


    #greetingText{
        margin-top: 40px;
        font-family: OpenSans-Light;
        margin-left: 9%;
        font-size: 35px;
        color: black;
        position: absolute;
        top: -5%;
    }
    </style>

 <script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js')}}"></script>
 <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
   
 <script type="text/javascript">

	$("#fos_user_registration_form_email").attr("placeholder","example@email.com");
	$("#fos_user_registration_form_username").attr("placeholder","Username");
	$("#fos_user_registration_form_plainPassword_first").attr("placeholder","Password");
	$("#fos_user_registration_form_plainPassword_second").attr("placeholder","Confirm Password");
    $("#aboutme").val("");


    var invalidemail=false;
    var invalidusername=false;

    $("#fos_user_registration_form_email").change(function(){

    var url="/verifemail";
 
   $.get(url,{email:$(this).val()},
        function(data){          
                if(data.resultat=="found") {
                  invalidemail=true;
                  console.log("email exist !!")
                  $("#email-exist").fadeIn();          
                  $("#signup").attr("disabled","true");
                  $("#fos_user_registration_form_email").css("border","rgb(243, 148, 148) 1px solid");
              }
          else if(data.resultat!="found") {
                  invalidemail=false;
                  if(invalidusername==false) $("#signup").removeAttr("disabled");
                  $("#email-exist").fadeOut();      
                  $("#fos_user_registration_form_email").css("border","1px solid #C9CED6");

            }
           else if(data.responseCode==400){//bad request
              
              
           }
           else{
              //if we got to this point we know that the controller
              //did n
             // return a json_encoded array. We can assume that           
              //an unexpected PHP error occured
              alert("An unexpeded error occured.");

           }
         }
       );


    })

$("#fos_user_registration_form_plainPassword_first, #fos_user_registration_form_plainPassword_second").change(function(){

  if($(this).val().length < 5)
    $(this).css("border","rgb(243, 148, 148) 1px solid");
  

  else 
    if ($("#fos_user_registration_form_plainPassword_first").val()!=$("#fos_user_registration_form_plainPassword_second").val() )
        $(this).css("border","rgb(243, 148, 148) 1px solid");
  else
    $("#fos_user_registration_form_plainPassword_first, #fos_user_registration_form_plainPassword_second").css("border","1px solid #C9CED6");



})



$("#fos_user_registration_form_username").change(function(){
   var url="/verifusername";
   $.get(url,{username:$(this).val()},
        function(data){   
           if(data.resultat=="found") {
                  invalidusername=true;
                  console.log("username exist !!")
                  $("#username-exist").fadeIn();          
                  $("#signup").attr("disabled","true");
                  $("#fos_user_registration_form_username").css("border","rgb(243, 148, 148) 1px solid")
            }
            else if(data.resultat!="found") {
                  invalidusername=false;
                  $("#username-exist").fadeOut();          
                  if(invalidemail==false) $("#signup").removeAttr("disabled");
                  $("#signup").removeAttr("disabled");
                  $("#fos_user_registration_form_username").css("border","1px solid #C9CED6")
              

            }
           else{
              console.log("error ");
           }
         }
       );


    })


$("#fos_user_registration_form_email").attr("value",'{{email}}');

</script>
</body>

</html><!-- all righs reserved <title>{%if 'souller' in url('render_home_page') %}Souller - Life According to You{% else %}ScribblerParty - Your Digital Scrapbook{%  endif %} </title>
